@layer component {
  .book-stack {
    padding: 0;
    list-style: none;
    display: grid;
    /* grid-auto-rows: 1fr; */

    .book-stack__book {
      position: relative;
      isolation: isolate;
      display: grid;
      grid-template-columns: var(--thumbnail-cover-width) auto;
      gap: 12px;

      @media (width >= calc(600 / 16 * 1rem)) {
        gap: 24px;
      }

      /* &:hover .book-stack__cover-image {
        filter: brightness(105%);
      } */

      /* &:hover .book-stack__book-title {
        text-decoration: underline 2px;
        text-underline-offset: 3px;
      } */
    }

    .book-stack__overlay-link {
      position: absolute;
      inset: 0;
      z-index: 1;

      &:hover ~ .book-stack__image-wrapper .book-stack__cover-image {
        filter: brightness(105%);
      }

      &:hover ~ .book-stack__body .book-stack__book-title {
        text-decoration: underline 2px;
        text-underline-offset: 3px;
      }

      &:focus-visible {
        outline: 3px solid AccentColor;
        outline-offset: 3px;
      }
    }

    .book-stack__image-wrapper {
      max-width: var(--thumbnail-cover-width);
      align-self: center;
    }

    .book-stack__cover-image {
      width: 100%;
      height: auto;
      filter: brightness(95%);
      transition: filter 150ms ease-in-out;
      will-change: filter;
    }

    .book-stack__body {
      padding-block-start: 4px;
    }

    .book-stack__book-title {
      font-size: var(--font-size-book-card-heading);
      text-wrap: wrap;
      margin: 0;
      width: fit-content;
      margin-block-end: 12px;

      @media (width >= calc(600 / 16 * 1rem)) {
        text-wrap: balance;
      }
    }

    .book-stack__book-author {
      margin-block-end: 16px;
    }

    .book-stack__author-link {
      position: relative;
      z-index: 2;
      color: inherit;
      transition: color 150ms ease-in-out;

      &:hover {
        color: var(--color-book-card-author-hover);
      }

      &:hover {
        opacity: 0.8;
      }
    }

    .book-stack__book-meta {
      font-size: calc(12 / 16 * 1rem);
    }

    .book-stack__book-tags {
      position: relative;
      z-index: 2;
      display: flex;
      flex-wrap: wrap;
      gap: 2px 8px;
      max-width: 40ch;
      width: fit-content;
      padding: 0;
      list-style: none;
      pointer-events: auto;

      @media (width >= calc(600 / 16 * 1rem)) {
        gap: 4px;
      }
    }

    .book-stack__book-tag {
      font-size: calc(12 / 16 * 1rem);
      font-weight: 300;

      @media (width >= calc(600 / 16 * 1rem)) {
        border: 1px solid lightgray;
        padding: 4px 10px;
        border-radius: 100vmax;
      }
    }

    .book-stack__divider {
      display: block;
      padding-block-end: 24px;
      border-block-end: 1px solid var(--color-search-results-divider);
      margin-block-end: 24px;

      &:last-child {
        display: none;
      }
    }
  }
}
