@layer component {
  .book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: 1fr auto;
    gap: 24px var(--vertical-padding, 16px);
    list-style: none;
    padding: 0;

    .book-grid__book {
      --card-bg: var(--c-white-bone, lightgray);

      background-color: var(--card-bg);
      border-radius: 12px;
      padding: 14px 10px 24px;
      display: grid;
      grid-template-rows: subgrid;
      grid-row: span 2;
      transition: 300ms ease;
      transition-property: transform, filter;
      position: relative;
      isolation: isolate;
    }

    .book-grid__image-wrapper {
      place-self: center;
      height: fit-content;
      width: calc(100 / 16 * 1rem);
    }

    .book-grid__cover-image {
      height: auto;
      width: 100%;
      will-change: filter;
      filter: brightness(95%);
      transition: filter 150ms ease-in-out;
    }

    .book-grid__book-body {
      text-align: center;
    }

    .book-grid__book-title {
      font-size: calc(20 / 16 * 1rem);
      font-size: var(--font-size-book-title);
      margin-block-end: 10px;
    }

    .book-grid__book-link {
      position: absolute;
      inset: 0;
      z-index: 1;

      &:hover ~ .book-grid__image-wrapper .book-grid__cover-image {
        filter: brightness(105%);
      }

      &:hover ~ .book-grid__book-body .book-grid__book-title {
        text-decoration: underline 2px;
        text-underline-offset: 3px;
      }

      &:focus-visible {
        outline: 3px solid AccentColor;
        outline-offset: 3px;
      }
    }

    .book-grid__book-author {
      font-size: var(--font-size-book-author);
    }

    .book-grid__remove {
      position: absolute;
      z-index: 2;
      padding: 0;
      display: grid;
      place-content: center;
      top: -6px;
      right: -6px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: none;
      background: rgba(0, 0, 0, 0.7);
      color: var(--c-white);
      cursor: pointer;
      transition: color 150ms ease-in-out, background 50ms ease-in-out;
      /* transition-property: color, background; */

      &:hover {
        /* color: var(--c-magenta);
        background: rgba(0, 0, 0, 0.1); */
        opacity: 0.8;
      }

      &:focus-visible {
        outline: 2px solid AccentColor;
        outline-offset: 1px;
      }
    }

    .book-grid__remove svg {
      pointer-events: none;
    }
  }
}
