@layer component {
  .search {
    --clear-button-height: calc(32 / 16 * 1rem);
    --clear-icon-size: calc(20 / 16 * 1rem);

    position: sticky;
    isolation: isolate;
    top: var(--header-height);
    z-index: 80;
    background-color: var(--color-sticky-search-bg);
    backdrop-filter: var(--backdrop-filter-sticky-search);

    .search__wrapper {
      padding-block: 0;
    }

    .search__form {
      display: flex;
      gap: 12px;
      padding-block: 16px;
      font-size: var(--font-size-form);
      position: relative;

      @media (width >= calc(600 / 16 * 1rem)) {
        padding-block: 24px;
      }
    }

    .search__input-wrapper {
      flex: 1;
      display: flex;
      position: relative;
    }

    .search__form-input {
      background: var(--color-form-input-bg);
      padding: 8px 50px 8px 20px;
      border-radius: 5px;
      width: 0;
      min-width: 0;
      flex: 1;
      box-shadow: 0 4px 8px hsl(0 0% 0% / 0.1);

      &:not(:placeholder-shown) + .search__clear-button {
        opacity: 1;
        pointer-events: auto;
      }

      &:focus-visible {
        outline: 2px solid var(--color-sticky-search-focus-ring);
        outline-offset: 2px;
      }
    }

    .search__clear-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 8px;
      height: var(--clear-button-height);
      width: var(--clear-button-height);
      display: grid;
      place-content: center;
      cursor: pointer;
      opacity: 0;
      pointer-events: none;
      transition: opacity 150ms ease;

      &:hover .search__clear-icon path {
        stroke: var(--color-clear-button-hover);
      }

      &:focus {
        opacity: 1;
        pointer-events: auto;
      }

      &:focus-visible {
        outline: 2px solid var(--color-sticky-search-focus-ring);
        outline-offset: 2px;
      }
    }

    .search__clear-icon {
      width: var(--clear-icon-size);
      height: var(--clear-icon-size);

      & path {
        transition: stroke 150ms ease-in-out;
      }
    }

    .search__submit-button {
      cursor: pointer;
      box-shadow: 0 4px 8px hsl(0 0% 0% / 0.1);

      &:focus-visible {
        outline: 2px solid var(--color-sticky-search-focus-ring);
        outline-offset: 2px;
      }
    }

    .search__autocomplete {
      position: absolute;
      top: 100%;
      left: 0;
      border: 1px solid #ddd;
      border-top: none;
      list-style: none;
      border-radius: 0 0 12px 12px;
      width: fit-content;
      padding: 0;
      padding-block-end: 12px;
      background: var(--color-sticky-search-bg);

      /* max-height: 240px;
      overflow-y: auto;
      scrollbar-gutter: stable;
      scrollbar-width: auto;
      scrollbar-color: #888 #eee; */
    }

    .search__autocomplete li {
      padding: 8px 20px;
      cursor: pointer;
    }

    .search__autocomplete li.active,
    .search__autocomplete li:hover {
      background: var(--color-sticky-search-autocomplete-hover-bg);
      color: var(--color-sticky-search-autocomplete-hover-text);
    }
  }
}
