@layer component {
  .search-bar {
    --clear-button-height: calc(32 / 16 * 1rem);
    --icon-size: calc(18 / 16 * 1rem);

    position: sticky;
    isolation: isolate;
    top: var(--header-height);
    z-index: 80;
    background-color: hsl(var(--hue-primary), 15%, 90%);

    .search-bar__wrapper {
      padding-block: 16px;

      @media (width >= calc(600 / 16 * 1rem)) {
        padding-block: 24px;
        --icon-size: calc(20 / 16 * 1rem);
      }
    }

    .search-bar__form {
      font-size: var(--font-size-form);
      position: relative;
    }

    .search-bar__control {
      display: grid;
      grid-template-columns: 1fr auto auto;
      align-items: center;
      border-radius: 8px;
      overflow: hidden;
      background: white;
      box-shadow:
        0 0 0 1px hsl(var(--hue-primary), 15%, 85%),
        0 12px 30px -10px hsl(var(--hue-primary), 40%, 50%, 0.15);

      transition: 50ms ease-in-out;
      transition-property: box-shadow, border-radius;

      &:focus-within {
        box-shadow:
          0 0 0 1px hsl(var(--hue-primary), 40%, 50%, 0.4),
          0 0 0 1px hsl(var(--hue-primary), 15%, 85%),
          0 12px 30px -10px hsl(var(--hue-primary), 40%, 50%, 0.15);
      }

      &:has(+ .search__autocomplete:not([hidden])) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .search-bar__form-input {
      border: none;
      background: transparent;
      padding-block: 8px;
      padding-inline: 16px;
      font-size: var(--icon-size);

      outline: none;
      min-width: 0;

      &:not(:placeholder-shown) + .search-bar__clear-button {
        opacity: 1;
        pointer-events: auto;
      }

      @media (width >= calc(600 / 16 * 1rem)) {
        padding-block: 16px;
      }
    }

    .search-bar__clear-button {
      background: transparent;
      border: none;
      cursor: pointer;
      height: 32px;
      width: 32px;
      margin-inline-end: 8px;
      display: grid;
      place-content: center;
      opacity: 0;
      pointer-events: none;
      transition: 100ms ease-in-out;
      transition-property: opacity;

      &:hover .search-bar__clear-icon path {
        stroke: var(--color-clear-button-hover);
      }

      &:focus {
        opacity: 1;
        pointer-events: auto;
      }

      @media (width >= calc(600 / 16 * 1rem)) {
        margin-inline-end: 16px;
      }
    }

    .search-bar__clear-icon {
      width: var(--icon-size);

      & path {
        transition: stroke 100ms ease-in-out;
      }
    }

    .search-bar__submit-button-wrapper {
      background: hsl(var(--hue-primary), 60%, 92%);
      height: 100%;
      transition: 150ms ease-in-out;
      transition-property: background;

      &:hover,
      &:focus-within {
        background: hsl(var(--hue-primary), 60%, 88%);
      }
    }

    .search-bar__submit-button {
      border: none;
      cursor: pointer;

      padding-inline: 16px;
      height: 100%;
      border-radius: 0 8px 8px 0;

      &:focus {
        outline-offset: -2px;
      }
    }

    .search-bar__icon {
      width: calc(var(--icon-size) + 0.25rem);
    }

    .search-bar__autocomplete {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;

      list-style: none;
      padding: 0;

      border-top: none;
      border-radius: 0 0 8px 8px;
      padding-block: 8px 12px;
      background: hsl(var(--hue-primary), 40%, 90%);

      box-shadow:
        0 0 0 1px hsl(var(--hue-primary), 40%, 50%, 0.4),
        0 0 0 1px hsl(var(--hue-primary), 15%, 85%),
        0 12px 30px -10px hsl(var(--hue-primary), 40%, 50%, 0.15);

      /* max-height: 240px;
      overflow-y: auto;
      scrollbar-gutter: stable;
      scrollbar-width: auto;
      scrollbar-color: #888 #eee; */
    }

    .search-bar__autocomplete li {
      padding: 8px 16px;
      cursor: pointer;
      font-size: 24px;
    }

    .search-bar__autocomplete li.active,
    .search-bar__autocomplete li:hover {
      background: hsl(var(--hue-primary), 48%, 65%);
      color: var(--c-white);
    }
  }
}
