@layer component {
  .staff-trigger {
    position: fixed;
    isolation: isolate;
    bottom: 20px;
    right: 20px;
    z-index: 200;
    display: grid;
    place-content: center;
    padding: 16px;
    border-radius: 100vmax;
    cursor: pointer;
    background: hsl(var(--hue-primary), 61%, 53%);
    opacity: 0.8;
    color: var(--c-white, white);
    will-change: opacity;
    transition: opacity 50ms ease-in-out;

    &:hover {
      opacity: 1;
    }

    @media (width >= calc(768 / 16 * 1rem)) {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 12px 16px;
      border-radius: 8px 0 0 8px;
      bottom: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }

  .staff-trigger__text {
    display: none;

    @media (width >= calc(768 / 16 * 1rem)) {
      display: inline-block;
      font-size: calc(18 / 16 * 1rem);
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.05em;
    }
  }

  .staff-trigger__icon {
    pointer-events: none;
    width: calc(24 / 16 * 1rem);

    @media (width >= calc(768 / 16 * 1rem)) {
      width: calc(18 / 16 * 1rem);
    }
  }

  .staff-drawer {
    position: fixed;
    inset: 0 0 0 auto;
    width: 500px;
    max-width: 90vw;
    background: var(--c-white, white);
    box-shadow: -4px 0 20px rgba(0, 0, 0, 0.15);
    translate: 110% 0;
    /* transition: translate 300ms ease-in-out; */
    z-index: 200;
    padding: 32px 24px;

    @media (prefers-reduced-motion) {
      opacity: 0;
    }

    &.open {
      translate: 0 0;

      @media (prefers-reduced-motion) {
        opacity: 1;
      }
    }

    &.animating {
      transition: 300ms ease-in-out;
      transition-property: translate;

      @media (prefers-reduced-motion) {
        transition-property: opacity;
      }
    }
  }

  .staff-drawer__divider {
    border: 0;
    height: 2px;
    background: var(--c-gray-light);
    margin-block: 24px;

    &:first-of-type {
      margin-block-start: 0;
    }
  }

  .staff-drawer__header {
    display: flex;
    justify-content: space-between;
    margin-block-end: 32px;
  }

  .staff-close {
    cursor: pointer;
  }

  .staff-drawer__body {
    display: grid;
    gap: 16px;
  }

  .staff-drawer__action {
    cursor: pointer;
    /* width: fit-content; */
    /* padding: 12px 16px; */
    /* border-radius: 6px; */
    /* color: var(--c-white); */
    /* background-color: var(--c-purple, purple); */
    font-size: calc(18 / 16 * 1rem);

    width: 100%;
    padding: 20px;
    display: grid;
    place-content: center;
    border-radius: 12px;
    background-color: hsl(var(--hue-primary), 100%, 40%, 0.1);
    border: 1px solid hsl(var(--hue-primary), 70%, 60%);
    font-weight: 600;
    color: hsl(230, 23%, 5%);

    transition: 100ms ease-in-out;
    transition-property: background-color, border-color;

    &:hover {
      background-color: hsl(var(--hue-primary), 100%, 60%, 0.2);
      border-color: hsl(var(--hue-primary), 100%, 60%);
    }
  }
}
