@layer component {
  .staff-trigger {
    position: fixed;
    isolation: isolate;
    bottom: 20px;
    right: 20px;
    z-index: 200;
    display: grid;
    place-content: center;
    padding: 16px;
    border-radius: 100vmax;
    cursor: pointer;
    background: var(--c-purple, purple);
    color: var(--c-white, white);

    &:hover {
      opacity: 0.9;
    }
  }

  .staff-icon {
    pointer-events: none;
  }

  .staff-drawer {
    position: fixed;
    inset: 0 0 0 auto;
    width: 360px;
    max-width: 100vw;
    background: var(--c-white, white);
    box-shadow: -4px 0 20px rgba(0, 0, 0, 0.15);
    transform: translateX(110%);
    transition: transform 300ms ease-in-out;
    z-index: 200;
    padding: 32px 16px;
  }

  .staff-drawer__divider {
    border: 0;
    height: 1px;
    background: var(--c-gray-light);
    /* background-image: linear-gradient(
      to right,
      var(--c-purple),
      var(--c-teal)
    ); */
  }

  .staff-drawer.open {
    transform: translateX(0);
  }

  .staff-drawer__header {
    display: flex;
    justify-content: space-between;
    margin-block-end: 32px;
  }

  .staff-close {
    cursor: pointer;
  }

  .staff-drawer__body {
    display: grid;
    gap: 24px;
  }

  .staff-drawer__action {
    cursor: pointer;
    width: fit-content;
    padding: 10px 12px;
    border-radius: 6px;
    color: var(--c-white);
    background-color: var(--c-purple, purple);

    &:hover {
      opacity: 0.9;
    }
  }
}
