{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  Reset your password
{% endblock title %}

{% block content %}
  <!--<h1>Forgotten your password?</h1>
  <p>Enter your e-mail address to obtain a new password</p>
  <form method="post">
    {{ form|crispy }}
    <p><input type="submit" value="Send e-mail"></p>
    {% csrf_token %}
  </form>-->
  <section id="login" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>
                <i class="fas fa-lock"></i> Forgotten your password?
              </h4>
            </div>
            <div class="card-body">
              <!-- Alerts -->
              {% include 'partials/_alerts.html' %}
              <p class="card-text">Enter your e-mail address to obtain a new password.</p>
              <form method="post">
                {{ form|crispy }}
                <p><input type="submit" value="Send e-mail" class="btn btn-secondary btn-block"></p>
                {% csrf_token %}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}