{% load static %}
{% load crispy_forms_tags %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">
      <img src="{% static 'img/logo.png' %}" class="logo" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        {% comment %} {% if user.is_staff %}
          <li
            {% if 'staff/' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'staff' %}">Staff</a>
          </li>
        {% endif %} {% endcomment %}
        <li
          {% if 'legacy' in request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
        >
          <a class="nav-link" href="{% url 'legacy:index' %}">Legacy</a>
        </li>
        <li
          {% if 'legacy/tags/' not in request.path and 'legacy/all/' not in request.path and 'books/books-for-sale/' not in request.path and 'books' in request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
        >
          <a class="nav-link" href="{% url 'legacy:books' %}">Books</a>
        </li>
        {% comment %} <li
          {% if 'books/books-for-sale/' in request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
        >
          <a class="nav-link" href="{% url 'books_for_sale_list' %}">Shop</a>
        </li> {% endcomment %}
        <li
          {% if 'legacy/all/' in request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
        >
          <a class="nav-link" href="{% url 'legacy:books_all' %}">A-Z</a>
        </li>
        <li
          {% if 'tags/' in request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
        >
          <a class="nav-link" href="{% url 'legacy:filter_by_tags' %}">Tags</a>
        </li>
        {% if user.is_superuser %}
          <li
            {% if 'blog' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'post_list' %}">Blog</a>
          </li>
        {% endif %}
      </ul>

      <div class="d-flex flex-grow-1 mr-2">
        {% comment %} <form class="mr-2 my-auto w-100 d-inline order-1" method="get" action="{% url 'book_search' %}"> {% endcomment %}
        <form class="mr-2 my-auto w-100 d-inline order-1" method="get" action="#" onsubmit="return false;">
          <div class="input-group">
            <input type="text" pattern=".{3,60}" required title="3 characters minimum" class="form-control border border-right-0" name="navbar_query" placeholder="Search books" required>
            <span class="input-group-append">
              <button class="btn btn-outline-light border border-left-0" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </form>
      </div>

      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li
            {% if 'dashboard' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            {% comment %} <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a> {% endcomment %}
          </li>
          <li class="nav-item mr-3">
            {% comment %} <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">Logout</a>  {% endcomment %}
            <a href="#" class="nav-link">Logout</a> 
            <form action="{% url 'logout' %}" method="POST" id="logout">
              {% csrf_token %}
              <input type="hidden">
            </form>   
          </li>
        {% else %}
          <li
            {% if 'register' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            {% comment %} <a class="nav-link" href="{% url 'register' %}">Register</a> {% endcomment %}
            <a class="nav-link" href="#">Register</a>
          </li>
          <li
            {% if 'login' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            {% comment %} <a class="nav-link" href="{% url 'login' %}">Login</a> {% endcomment %}
            <a class="nav-link" href="#">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>