{% load static %}

<header class="topnav">
  <h2 class="visually-hidden">Header</h2>

  <div class="wrapper topnav__wrapper">
    <a href="/" class="topnav__homelink">
      <img src="{% static 'img/logo.svg' %}" alt="Barham homepage" class="topnav__logo" width="40" height="40">
    </a>

    <nav aria-label="Primary">
      <ul class="topnav__links">
        {% comment %} <li class="topnav__item">
          <a href="#" class="topnav__link">O</a>
        </li> {% endcomment %}
        <li class="topnav__item">
          <a href="{% url 'books' %}" class="topnav__link">Books</a>
        </li>
        <li class="topnav__item">
          <a href="{% url 'collections' %}" class="topnav__link">Collections</a>
        </li>
        <li class="topnav__item">
          <a href="{% url 'about' %}" class="topnav__link">About</a>
        </li>
      </ul>
    </nav>
  </div>
</header>