{% extends 'site_base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}
  Account Home
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/pages/account.css' %}" />
  <link rel="stylesheet" href="{% static 'css/components/book-grid.css' %}" />
  <link rel="stylesheet" href="{% static 'css/components/review.css' %}" />
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/account.js' %}" defer></script>
{% endblock %}

{% block content %}
  <section class="account">
    <div class="wrapper">
      <header class="account__header">
        <h1 class="account__title">Account Overview</h1>

        <nav>
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button class="button tertiary">Logout</button>
          </form>
        </nav>
      </header>

      <section class="account__meta">
        <h3>Profile Details</h3>
        <p>
          <strong>Username:</strong> <span class="account__username">{{ request.user.username }}</span>
        </p>
        <p>
          <strong>Email:</strong> <span class="account__email">{{ request.user.email }}</span>
        </p>

        <a href="{% url 'password_change' %}">Change password</a>
      </section>

      <section class="account__section">
        <h2>Registered Interests</h2>

        {% if interested_books %}
          {% include 'components/book_grid.html' with books=interested_books is_book_interest=True %}
        {% else %}
          <p>You haven't registered interest in any books yet.</p>
        {% endif %}
      </section>

      <section class="account__section">
        <h2>Liked books</h2>

        {% if liked_books %}
          {% include 'components/book_grid.html' with books=liked_books %}
        {% else %}
          <p>You haven't liked any books yet.</p>
        {% endif %}
      </section>

      <section class="account__section">
        <h2>Reviews</h2>

        {% for review in reviews %}
          {% include 'components/review.html' with is_account_page_reviews=True %}
        {% empty %}
          <p>You haven't written any reviews yet.</p>
        {% endfor %}
      </section>
    </div>
  </section>
{% endblock %}
