{% extends 'base.html' %}

{% block content %}
	<h1>Borrowed books</h1>
	{% if bookinstance2_list %}
		<ul>

			{% for bookinst in bookinstance2_list %} 
      {% with bookinst.book as book %}
				<li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
					<a href="{{ book.get_absolute_url }}">{{book.title}}</a> ({{ bookinst.due_back }})        
				</li>
      {% endwith %}
			{% endfor %}
		</ul>

	{% else %}
		<p>There are no books borrowed.</p>
	{% endif %} 
{% endblock %}
	<section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Welcome {{ user.username }}</h2>
          <p>Activity</p>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Book</th>
                <!-- <th scope="col">Due Date</th> -->
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>22</td>
                <td>45 Drivewood Circle</td>
                <td>
                  <a class="btn btn-light" href="#">View Listing</a>
                </td>
              </tr>
              <tr>
                <td>43</td>
                <td>22 Westbrook rd</td>
                <td>
                  <a class="btn btn-light" href="#">View Listing</a>
                </td>
              </tr>
              <tr>
                <td>31</td>
                <td>12 Samson Ave</td>
                <td>
                  <a class="btn btn-light" href="#">View Listing</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>