{% extends 'site_base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/components/auth.css' %}" />
{% endblock %}

{% block content %}
  <section class="auth">
    <h1>Reset your password</h1>
    <p>Enter your email address and we’ll send you a reset link.</p>

    <form method="post" class="auth-form">
      {% csrf_token %}

      {{ form.non_field_errors }}

      <div>{{ form.email.label_tag }}
        {{ form.email }}
        {{ form.email.errors }}</div>

      <button class="button primary">Send reset link</button>
    </form>
  </section>
{% endblock %}
