{% extends 'site_base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}
  Change password
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/components/account-forms.css' %}" />
{% endblock %}

{% block content %}
  <section class="account">
    <div class="wrapper">
      <div class="account__card">
        <h1>Change password</h1>

        <form method="post" class="form">
          {% csrf_token %}

          {{ form.non_field_errors }}

          <div>{{ form.old_password.label_tag }}
            {{ form.old_password }}
            {{ form.old_password.errors }}</div>

          <div>{{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
            {{ form.new_password1.errors }}</div>

          <div>{{ form.new_password2.label_tag }}
            {{ form.new_password2 }}
            {{ form.new_password2.errors }}</div>

          <div class="form__actions">
            <button class="button primary" type="submit">Update password</button>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock %}
