{% extends 'site_base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}
  Register - Barham Books
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/components/account-forms.css' %}" />
{% endblock %}

{% block content %}
  <section class="account">
    <div class="wrapper">
      <div class="account__card">
        <h1>Create account</h1>

        <form method="post" class="form">
          {% csrf_token %}
          {{ form.non_field_errors }}

          <div>{{ form.username.label_tag }}
            {{ form.username }}</div>

          <div>{{ form.email.label_tag }}
            {{ form.email }}</div>

          <div>{{ form.password.label_tag }}
            {{ form.password }}</div>

          <div>{{ form.password2.label_tag }}
            {{ form.password2 }}</div>

          <div class="form__actions">
            <button class="button primary" type="submit">Create account</button>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock %}
