{% extends 'site_base.html' %}
{% load static %}

{% block content %}
  <section class="hero">
    <div class="wrapper hero__wrapper">
      <div class="hero__backdrop" aria-hidden="true"></div>

      <div class="hero__content">
        <h1 class="hero__title">Barham Community Library</h1>
        <p class="hero__subtitle medium">A community-run library in Wembley, open to readers of all ages.</p>
        <a href="{% url 'books' %}" class="button primary hero__link">Browse Books</a>
      </div>
    </div>
  </section>

  <section class="collections">
    <div class="wrapper collections__wrapper">
      <div class="collections__top-row">
        <h2 class="collections__title">Discover something new</h2>
        <p>Not sure where to begin? Explore one of our curated collections.</p>
      </div>

      <ul class="collections__container">
        <li class="collections__item clickable-parent">
          <h3 class="collections__item-title"><a href="#" class="collections__item-link clickable-parent-link">Crime, Mystery & Thriller</a></h3>
        </li>
        <li class="collections__item clickable-parent">
          <h3 class="collections__item-title"><a href="#" class="collections__item-link clickable-parent-link">Sci-Fi & Fantasy</a></h3>
        </li>
        <li class="collections__item clickable-parent">
          <h3 class="collections__item-title"><a href="#" class="collections__item-link clickable-parent-link">Modern & Contemporary Classics</a></h3>
        </li>
        <li class="collections__item clickable-parent">
          <h3 class="collections__item-title"><a href="#" class="collections__item-link clickable-parent-link">Young Adult Essentials</a></h3>
        </li>
      </ul>

      {% comment %} <div class="collections__container">
        <a href="#" class="collections__link">
          <article class="collections__item">
            <h3 class="collections__category">Crime, Mystery & Thriller</h3>
          </article>
        </a>
        <a href="#" class="collections__link">
          <article class="collections__item">
            <h3 class="collections__category">Sci-Fi & Fantasy</h3>
          </article>
        </a>
        <a href="#" class="collections__link">
          <article class="collections__item">
            <h3 class="collections__category">Modern & Contemporary Classics</h3>
          </article>
        </a>
        <a href="#" class="collections__link">
          <article class="collections__item">
            <h3 class="collections__category">Young Adult Essentials</h3>
          </article>
        </a>
      </div> {% endcomment %}

      <div class="collections__cta">
        <a href="{% url 'collections' %}" class="button secondary collections__cta-link">Explore collections</a>
      </div>
    </div>
  </section>

  <section class="fw-about fullwidth">
    <div class="wrapper fullwidth__wrapper">
      <h2 class="fullwidth__title">About the library</h2>

      <p class="fullwidth__text">Barham Community Library is a volunteer-run library in Wembley, built around shared books, shared space, and local people.</p>

      <div class="fw-about__img-wrapper">
        <img src="{% static 'img/parade.jpg' %}" alt="Local residents posing for photo outside library entrance" height="968" width="1296" class="fw-about__image" />
      </div>

      <p class="fullwidth__text">Our collection grows through donations, and our space hosts talks, group activities, and small community events.</p>

      <a href="{% url 'about' %}" class="fw-about__link button primary">Learn more</a>
    </div>
  </section>

  <section class="testimonial">
    <h2 class="visually-hidden">Testimonial</h2>

    <div class="wrapper testimonial__wrapper">
      <figure class="testimonial__figure">
        <img src="{% static '/img/quotation-mark-teal.svg' %}" alt="" width="78" height="66" class="testimonial__quotemark" />
        <blockquote class="testimonial__quote">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum mollitia temporibus autem porro. Cumque quos aut repudiandae temporibus animi aliquid consequatur, enim obcaecati.</blockquote>
        <figcaption class="testimonial__author-wrapper">
          <img src="{% static 'img/author-1x.png' %}" srcset="
              {% static 'img/author-1x.png' %} 1x,
              {% static 'img/author-2x.png' %} 2x" alt="Headshot of Paul Lorber" class="testimonial__author-image" width="120" height="120" />
          <p class="testimonial__author-description medium">
            Paul Lorber<br />Trustee and Director, Barham Library
          </p>
        </figcaption>
      </figure>
    </div>
  </section>

  <section class="fw-cta fullwidth">
    <div class="wrapper fullwidth__wrapper">
      <h2 class="fullwidth__title fw-cta__title">Get in touch</h2>
      <p class="fullwidth__text large">Have a question, a donation, or an idea for using our space?</p>
      <a href="#" class="button tertiary">Send a message</a>
    </div>
  </section>

  {% comment %} <section id="padding"></section> {% endcomment %}
{% endblock %}
