{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  Book Search results | 
{% endblock %}

{% block extra_css %}
  <!-- Autocomplete -->
  {% comment %} <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" /> {% endcomment %}
{% endblock %}

{% block content %}

  <section id="showcase-inner" class="py-5 text-white" style="background-size:cover;">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Book search results</h1>
          <br>

          <!-- New form -->
          <form action="{% url 'book_search' %}">
            <div class="row no-gutters">
              <div class="input-group">
                <input type="text" name="keywords" class="form-control" placeholder="Enter book title, series, author's name..." id="keywords" required minlength="3" autocomplete="off" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-controls="autocomplete-list" {% if query %}value="{{ query }}"{% endif %}>
                <div class="input-group-addon">
                  <select name="category" class="custom-select" style="background-color:rgba(32, 134, 107, 0.8); color:#E8E8E8;">
                    <option {% if not category %}selected="true"{% endif %} value="-1">
                      All categories
                    </option>
                    {% for cat in categories %}
                      <option value="{{ cat.id }}"
                        {% if category.id == cat.id %}
                          selected="true"
                        {% endif %}
                      >
                        {{ cat.short_name }}
                      </option>
                    {% endfor %}
                  </select>
                </div>
                <div class="input-group-append">
                  <button class="btn btn-outline-light" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section id="bc" class="mt-3">
    <div class="container">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'books' %}">Books</a>
          </li>
          <li class="breadcrumb-item active">Search results</li>
        </ol>
      </nav>
    </div>
  </section>


  <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
  
          {% if results %}
            {% with results.count as total_books %}
              <p style="font-family: georgia, serif; font-style: italic;">
                {{ total_books }} result{{ total_books|pluralize }} found for "{{ query }}"
              </p>
            {% endwith %}
            <table class="table table-hover">
              <!-- <thead>
                <tr>
                  <th></th>
                  <th scope="col">Title</th>
                  <th scope="col">Author</th>
                  <th scope="col">Tags</th>
                  <th></th>
                </tr>
              </thead> -->
              <tbody>
                {% for book in results %}
                  <tr>
                    <td>
                      <a href="{{ book.get_absolute_url }}">
                        <!-- the updated method of using thumbnails -->
                        {% if book.photo %}
                          {% load thumbnail %}
                          <img src="{{ book.photo|thumbnail_url:'default' }}" class="img-fluid img-thumbnail-edit">
                        {% else %}
                          <img class="img-fluid img-thumbnail-edit" src="{% static 'img/blank.png' %}" alt="">
                        {% endif %}

                        <!-- the alternative approach of getting the image from openlibrary -->
                        {# <img src="{{ book.get_cover_url }}" alt="OpenLibrary.org" class="img-fluid img-thumbnail-edit"> #}

                        <!-- the original method of pulling images -->
                        <!-- <img class="img-fluid img-thumbnail-edit"
                        {% if book.photo %}
                          src="{{ book.photo.url }}"
                        {% else %}
                          src="{% static 'img/blank.png' %}"
                        {% endif %}
                        alt=""> -->
                      </a>
                    </td>
                    <td>
                      <h4>
                        <a href="{{ book.get_absolute_url }}" style="{% if not book.instances.exists %}text-decoration: line-through;{% endif %}">{{ book.title }}</a>
                      </h4>
                      <p>
                        by {{ book.author }}
                      </p>
                      <p class="small">
                        {% if book.book_tags %}
                          {% for tag in book.book_tags.all %}
                            {{ tag.name|title }}
                            {% if not forloop.last %} &middot; {% endif %}
                          {% endfor %}
                        {% endif %} 
                      </p>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <p>There are no results for your query.</p>
          {% endif %}

          <!-- Any book tags similar to query? -->
          {% if tags %}
            <br>

              <span style="font-family: georgia, serif; font-style: italic;">Did you mean to search for books tagged with:</span>
              {% for tag in tags %}
                <a href="{% url 'books_by_tag' tag_slug=tag.slug %}"
                  {% if tag.band == 1 %}
                    class="badge badge-pill badge-primary"
                  {% elif tag.band == 2 %}
                    class="badge badge-pill badge-light"
                  {% elif tag.band == 3 %}
                    class="badge badge-pill badge-info"
                  {% elif tag.band == 4 %}
                    class="badge badge-pill badge-danger"
                  {% elif tag.band == 5 %}
                    class="badge badge-pill badge-secondary"
                  {% elif tag.band == 6 %}
                    class="badge badge-pill badge-warning"
                  {% else %}
                    class="badge badge-pill badge-dark"
                  {% endif %}
                >
                  <p class="mb-1 mt-1">
                    {{ tag.name|title }}
                  </p>
                </a>
              {% endfor %}
              <span style="font-family: georgia, serif; font-style: italic;">?</span>

          {% endif %}

        </div>
      </div>
    </div>
  </section>

{% endblock %}

{% block extrascripts %}
  <!-- Autocomplete -->
  {% comment %} <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $(function () {
      $('#keywords').autocomplete({
        source: function (request, response) {
          $.ajax({
            url: "{% url 'autocomplete_books' %}",
            data: {
              term: request.term,
            },
            success: function (data) {
              response(data);
            },
          });
        },
        minLength: 3, // Minimum length for autocomplete to start
        select: function (event, ui) {
          if (ui.item.url) {
            window.location.href = ui.item.url; // Redirect to the book's URL on selection
          }
        },
      });
    });
  </script> {% endcomment %}
  <script src="{% static 'js/autocomplete.js' %}"></script>
{% endblock extrascripts %}