{% extends "base.html" %}

{% block title %}
  Add new book
{% endblock title %}

{% block content %}
  <section section id="work" class="bg-dark text-white text-center" style="padding: 3rem 0;">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Add book</h1>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'staff' %}">
              Staff</a>
          </li>
          <li class="breadcrumb-item active"> Add book</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <section id="listing" class="py-4">
    <div class="container">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <!--<h4>Required fields</h4>
        <hr>
        <br>-->
        <div class="form-group">
          <label for="title">Book title (*)</label>
          <input class="form-control" id="title" name="title" type="text" required pattern=".{3,250}" title="at least 3 characters">
        </div>
        <br>
        <div class="form-group">
          <div class="row">
            <div class="col">
              <label for="author_select">Choose from existing authors (*)</label>
              <select name="author_select" id="author_select" class="selectpicker" data-width="100%" multiple data-max-options="1" data-container="body" data-size="7" data-live-search="true" title="Search authors">
              <!--<select class="form-control" name="author_select" id="author_select">-->
                <!--<option selected="true" value="ignore"></option>-->
                {% for author in authors %}
                  <option value="{{ author.id }}">{{ author.formal }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col">
              <label for="author">Or enter new author (*)</label>
              <input class="form-control" id="author" name="author" type="text" aria-describedby="authorHelp" pattern="[a-zA-Z -]{5,300}" title="at least 5 characters, no dots or commas">
              <small id="authorHelp">Don't include dots with initials, i.e. write "JK Rowling" rather than "J.K. Rowling"</small>
            </div>
          </div>
        </div>

        <!--<div class="form-group">
          <label for="other_authors">Other authors (if applicable)</label>
          <input class="form-control" name="other_authors" id="other_authors" type="text" pattern="[a-zA-Z, -]{5,300}" title="at least 5 characters, no dots">
        </div>-->

        <div class="form-group">
          <div class="row">
            <div class="col">
              <label for="category">Category (*)</label>
              <select class="form-control" name="category" id="category">
                {% for cat in categories %}
                  <option value="{{ cat.id }}">{{ cat.short_name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col">
              <label for="book_type">Book type (*)</label>
              <select class="form-control" name="book_type" id="book_type">
                {% for key,value in book_types.items %}
                  <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col">
              <label for="copies">Number of copies (*)</label>
              <input class="form-control" type="number" name="copies" id="copies" min="1" max="5" value="1" required>
            </div>
          </div>
        </div>

        <br>
        <div class="form-group">
          <div class="row">
            <div class="col">
              <label for="main_tags">Select tag(s)</label>
              <select name="main_tags" id="main_tags" class="selectpicker" multiple="multiple" data-width="100%" data-container="body" data-size="20" multiple data-live-search="false">
                {% for mtag in main_tags %}
                  <option value="{{ mtag.name }}">{{ mtag.name|title }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>

        <!--<button type="submit" class="btn btn-primary btn-lg btn-block mt-5 mb-5">Add book</button>

        <br>
        <h4>Optional fields</h4>
        <hr>-->

        <br>
        <div class="form-group">
          <div class="row">
            <div class="col-md-8">
              <label for="summary">Book summary</label>
              <textarea class="form-control" name="summary" id="summary" rows="15" maxlength="1900"></textarea>
            </div>
            <div class="col-md-4">
              <label for="photo">Book cover image</label>
              <input type="file" class="form-control-file" id="photo" name="photo">
            </div>
          </div>
        </div>

        <!--<div class="form-group">
          <label for="photo">Book cover image</label>
          <input type="file" class="form-control-file" id="photo" name="photo">
        </div>-->

        <button type="submit" class="btn btn-primary btn-lg btn-block mt-5 mb-5">Add book</button>

        <br>
        <h4>Extra stuff</h4>
        <hr>
        <div class="form-group">
          <div class="row">
            <div class="col">
              <label for="isbn13">ISBN 13</label>
              <input class="form-control" type="text" id="isbn13" name="isbn13" pattern="[A-Z0-9]{13,13}" title="13 characters exactly">
            </div>
            <div class="col">
              <label for="isbn10">ISBN 10</label>
              <input class="form-control" type="text" id="isbn10" name="isbn10" pattern="[A-Z0-9]{10,10}" title="10 characters exactly">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col">
              <label for="pages">Pages</label>
              <input class="form-control" type="number" name="pages" id="pages" min="10" max="10000">
            </div>
            <div class="col">
              <label for="pages">Publisher</label>
              <input class="form-control" type="text" name="publisher" id="publisher" pattern=".{3,200}" title="3-200 characters">
            </div>
            <div class="col">
              <label for="publish_date">Publish date</label>
              <input class="form-control" type="text" name="publish_date" id="publish_date" placeholder="DD/MM/YYYY" pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])[/.](0[1-9]|1[012])[/.][0-9]{4}">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col">
              <label for="series_select">Select series (if applicable)</label>
              <select class="form-control" name="series_select" id="series_select">
                <option selected="true" value="ignore">---------</option>
                {% for ser in series %}
                  <option value="{{ ser.id }}">{{ ser }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col">
              <label for="series">Or enter new series</label>
              <input class="form-control" type="text" name="series" id="series" pattern=".{3,100}" title="at least 3 characters">
            </div>
            <div class="col">
              <label for="series_num"># in series</label>
              <input class="form-control" type="number" name="series_num" id="series_num" min="1" max="99">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="book_tags"><strike>Book tags</strike></label>
          <input class="form-control" type="text" id="book_tags" name="book_tags" placeholder="disabled" aria-describedby="bookTagHelp" pattern="[a-z, -]{3,400}" title="lowercase and comma's only" disabled="true">
          <small id="bookTagHelp">
            <strike>Enter comma-separated book tags. Have a look below to help you choose what to add.</strike>
          </small>
          <p></p>
          <!--<div class="card">
            <div class="card-body">
              <h6 class="card-title">Tags to choose from</h6>
              {% for tag in tags %}
                <span
                {% if tag.band == 1 %}
                  class="badge badge-pill badge-primary mb-1"
                {% elif tag.band == 2 %}
                  class="badge badge-pill badge-light mb-1"
                {% elif tag.band == 3 %}
                  class="badge badge-pill badge-info mb-1"
                {% elif tag.band == 4 %}
                  class="badge badge-pill badge-danger mb-1"
                {% elif tag.band == 5 %}
                  class="badge badge-pill badge-secondary mb-1"
                {% elif tag.band == 6 %}
                  class="badge badge-pill badge-warning mb-1"
                {% else %}
                  class="badge badge-pill badge-dark mb-1"
                {% endif %}
                >
                  <p class="mb-1 mt-1">
                    {{ tag.name|title }}
                  </p>
                </span>
              {% endfor %}
            </div>
          </div>-->
        </div>


        <div class="form-check">
          <input type="checkbox" class="form-check-input" value="clicked" id="is_featured" name="is_featured">
          <label class="form-check-label" for="is_featured">Check box to make book featured in category</label>
        </div>

        <button type="submit" class="btn btn-primary btn-lg btn-block mt-5 mb-5">Add book</button>

      </form>
    </div>
  </section>
{% endblock content %}