{% extends 'base.html' %}
{% load static %}
{% load rating_stuff %}

{% block title %}
  {{ book.title }} by {{ book.author }} | Books | 
{% endblock %}

{% block content %}
	<section id="showcase-inner" class="py-5 text-white" style="background-size:cover;">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">{{ book.title }}</h1>
          {% if book.series %}
            <p class="series">({{ book.series }} #{{ book.series_num }})</p>
          {% endif %}
          <p class="lead">
            <!-- <i class="fas fa-pen-alt"></i> --> by <a href="{{ book.author.get_absolute_url }}" style="color:white;">{{ book.author }}</a></p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'books' %}">Books</a>
          </li>
          <li class="breadcrumb-item active">{{ book.title }}</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <!-- Book -->
  <section id="listing" class="py-4">
    <div class="container">

      <!-- First row showing book info -->
      <div class="row">

        <!-- First column -->
        <div class="col-md-4">

          <!-- Book image -->
          <img
            {% if book.photo %}
              src="{{ book.photo.url }}"
            {% else %}
              src="{% static 'img/blank.png' %}"
            {% endif %}
           alt="" class="img-thumbnail">

          <!-- Book deets -->
          <div class="row mb-5 fields">
            <div class="col-md-12">
              <ul class="list-group list-group-flush">
	              {% if book.publish_date %}
                  <li class="list-group-item text-secondary">
                    <i class="far fa-calendar-alt"></i> Publish date:
                    <span class="float-right">{{ book.publish_date }}</span>
                  </li>
                {% endif %}

                {% if book.tags.all %}
                  <li class="list-group-item text-secondary">
                    <i class="fas fa-tag"></i> Tags:
                      <span class="float-right">
                        {% for tag in book.tags.all %}
                          <a href="{% url 'books_by_tag' tag_slug=tag.slug %}" class="badge badge-light mr-1">
                            <span style="font-size:15px;">
                              {{ tag.name|title }}
                            </span>
                          </a>{% if not forloop.last %} {% endif %}
                        {% endfor %}
                      </span>
                  </li>
                {% endif %}

              </ul>
              {% if user.is_staff %}
                <br>
                <p><a href="{% url 'book_update' book.id %}" class="btn btn-secondary">Update book</a></p>
              {% endif %}
            </div>
          </div>
        </div>

        <!-- Second column -->
        <div class="col-lg-5 col-md-8">

          <!-- Likes -->
          {% with total_likes=book.users_like.count users_like=book.users_like.all %}
            <div class="row ml-1">
              <h3><span class="count badge badge-pill badge-light">
                <span class="total">{{ total_likes }}</span>
                like{{ total_likes|pluralize }}
              </span></h3>

              {% if user.is_authenticated %}
                <div class="ml-auto mr-3">
                  <h3><span class="count">
                    <a href="#" data-id="{{ book.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like badge badge-pill badge-light">
                      {% if request.user not in users_like %}
                        Like
                      {% else %}
                        Unlike
                      {% endif %}
                    </a>
                  </span></h3>
                </div>
              {% endif %}
            </div>
          {% endwith %}

          <!-- Book description -->
          <p>
            {{ book.summary|linebreaks }}
          </p>
            
          <!-- Copies -->
          {% if copies and user.is_authenticated %}
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-primary"> <i class="far fa-clone"></i>
                <strong>Copies ({{copies.count}}):</strong>
              </li>
              {% for copy in book.instances.all %}
                <li
                  {% if copy.status == 'a' %}
                    class="list-group-item text-success"
                  {% elif copy.status == 'r' %}
                    class="list-group-item text-warning"
                  {% else %}
                    class="list-group-item text-danger"
                  {% endif %}>
                    <i class="fas fa-angle-right"></i> {{ copy.get_status_display }}
                  
                  {% if copy.status == 'o' %}
                    <br />Due to be returned: {{ copy.due_back }}
                    {% if user.is_staff %}
                      <br />Currently loaned by: <a href="{% url 'user' copy.borrower.id %}">{{ copy.borrower.username }}</a>
                    {% endif %}
                  {% endif %}

                  <br />
                  <ul style="list-style-type:none; color:black; margin-left: -30px;">
                    {% if copy.isbn10 or copy.isbn13 %}
                      
                        {% if copy.isbn10 %}
                          <li>
                            ISBN: {{ copy.get_formatted_isbn10 }}
                          </li>
                            {% if copy.isbn13 %}
                              <li>
                                ISBN13: {{ copy.get_formatted_isbn13 }}
                              </li>
                            {% endif %}
                        {% endif %}
                      
                    {% endif %}
                    {% if copy.pages %}
                        <li>
                          Pages: {{ copy.pages }}
                        </li>
                    {% endif %}
                    {% if copy.book_type %}
                        <li>
                          {{ copy.get_book_type_display|title }}
                        </li>
                    {% endif %}
                  </ul>
                </li>
              {% endfor %}
              
              <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#reserveModal">
                {% if available_copies %}
                  Reserve book
                {% else %}
                  Join waiting list
                {% endif %}
              </button>
              
            </ul>
          {% endif %}
        </div>

        <!-- Third column -->
        <div class="col-lg-3 col-md-12">

          <!-- Author -->
          <div class="card text-center mt-2 mb-4">
            <div class="card-body">
              <h5 class="card-title">
                <!--<i class="fas fa-pen-alt"></i>--> {{ book.author }}
              </h5>

              <a href="{{ book.author.get_absolute_url }}" class="btn btn-outline-dark">
                See all books &raquo;
              </a>
            </div>
          </div>

        </div>

      </div>

      <!-- Second row if other books in series -->
      {% if other_books_in_series %}
        <h4>Other books in series:</h4>
        <div class="row">
          {% for book in other_books_in_series %}
            <div class="col-lg-2 col-md-3 col-sm-4 col-4 text-center mb-2">
              <a href="{{ book.get_absolute_url }}">
                {% if book.photo %}
                  {% load thumbnail %}
                  <img src="{% thumbnail book.photo 100x0 %}" class="img-fluid img-thumbnail-edit">
                {% else %}
                  <img class="img-fluid img-thumbnail-edit" src="{% static 'img/blank.png' %}" alt="">
                {% endif %}
              </a>
              <div class="d-none d-md-block">
                <a href="{{ book.get_absolute_url }}">
                  {{ book.title }} (#{{ book.series_num }})
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      <!-- Third row showing similar books -->
      {% if similar_books %}
        <h4>Similar books:</h4>
        <div class="row">
          {% for book in similar_books %}
            <div class="col-lg-2 col-md-3 col-sm-4 col-4 text-center mb-2">
              <a href="{{ book.get_absolute_url }}">
                {% if book.photo %}
                  {% load thumbnail %}
                  <img src="{% thumbnail book.photo 100x0 %}" class="img-fluid img-thumbnail-edit">
                {% else %}
                  <img class="img-fluid img-thumbnail-edit" src="{% static 'img/blank.png' %}" alt="">
                {% endif %}
              </a>
              <div class="d-none d-md-block">
                <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}

    </div>
  </section>

  <!-- User reviews -->
  <section id="listing" class="py-4">
    <div class="container">
      <div class="col-md-12">
        <hr>
        <div class="row">
          <div class="col-md-9">
            <h3>User reviews</h3>
          </div>
          {% if has_not_reviewed and user.is_authenticated %}
          <div class="col-md-3">
            <a class="btn btn-block btn-secondary" href="{% url 'add_review' book.id %}">Add review</a>
          </div>
          {% endif %}
        </div>
        {% for review in reviews %}
          <hr />

          <!-- Rating star stuff - uses custom subtract filter -->
          {% if review.rating %}
            {% with ''|center:review.rating as range %}
              {% for _ in range %}
                <i class="fas fa-star"></i>
              {% endfor %}
            {% endwith %}
            {% with review.rating|subtract as empty_stars %}
              {% with ''|center:empty_stars as range %}
                {% for _ in range %}
                  <i class="far fa-star"></i>
                {% endfor %}
              {% endwith %}
            {% endwith %}
          {% endif %}

          <h5>{{ review.title }}</h5>
          <p>
            {{ review.body|linebreaks }}
          </p>
          <small>by {{ review.user.username }}</small>
        {% empty %}
          <p>There are no reviews yet.</p>
        {% endfor %}
      </div>
    </div>
  </section>

  <!-- Reserve Modal -->
  <div class="modal fade" id="reserveModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inquiryModalLabel">Confirm reservation</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'reserve' %}" method="POST">
            {% csrf_token %}
            {% if user.is_authenticated %}
              <input type="hidden" name="user_id" value="{{ user.id }}">
            {% else %}
              <input type="hidden" name="user_id" value="0">
            {% endif %}
            <input type="hidden" name="book_id" value="{{ book.id }}">
            <div class="form-group">
              <label for="property_name" class="col-form-label">Book:</label>
              <input type="text" name="book_title" class="form-control" value="{{ book.title }}" disabled>
            </div>
            <!--<div class="form-group">
              <label for="email" class="col-form-label">Email:</label>
              <input type="email" name="email" class="form-control"
              {% if user.is_authenticated %}
                value="{{ user.email }}"
              {% endif %}
              required>
            </div>-->
            <hr>
            <input type="submit" value="Reserve" class="btn btn-block btn-secondary">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block domready %}
  $('a.like').click(function(e){
    e.preventDefault();
    $.post('{% url "like" %}',
      {
        id: $(this).data('id'),
        action: $(this).data('action')
      },
      function(data){
        if (data['status'] == 'ok')
        {
          var previous_action = $('a.like').data('action');
          // toggle data-action
          $('a.like').data('action', previous_action == 'like' ?
          'unlike' : 'like');
          // toggle link text
          $('a.like').text(previous_action == 'like' ? 'Unlike' :
          'Like');
          // update total likes
          var previous_likes = parseInt($('span.count .total').text());
          $('span.count .total').text(previous_action == 'like' ?
          previous_likes + 1 : previous_likes - 1);
        }
      }
    );
  });
{% endblock %}
