{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  Book Search results | 
{% endblock %}

{% block content %}

  <section id="showcase-inner" class="py-5 text-white" style="background-size:cover;">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Book search results</h1>
          <br>

          <!-- New form -->
          <form action="{% url 'book_search' %}">
            <div class="row no-gutters">
              <div class="input-group">
                <input type="text" name="keywords" class="form-control" placeholder="Enter book title, series, author's name..." id="keywords" {% if query %}value="{{ query }}"{% endif %} required minlength="3">
                <div class="input-group-addon">
                  <select name="category" class="custom-select" style="background-color:rgba(32, 134, 107, 0.8); color:#E8E8E8;">
                    <option {% if not category %}selected="true"{% endif %} value="-1">
                      All categories
                    </option>
                    {% for cat in categories %}
                      <option value="{{ cat.id }}"
                        {% if category.id == cat.id %}
                          selected="true"
                        {% endif %}
                      >
                        {{ cat.short_name }}
                      </option>
                    {% endfor %}
                  </select>
                </div>
                <div class="input-group-append">
                  <button class="btn btn-outline-light" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
      <!--<div class="row">
        <div class="col-md-12">

          <form method="get" action="{% url 'book_search' %}">
            <div class="row no-gutters">
              <div class="col">
                {{ form|crispy }}
              </div>
              <div class="col-auto">
                <button class="btn btn-outline-light border-left-0 rounded-right" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form>

        </div>
      </div>-->
    </div>
  </section>

  <section id="bc" class="mt-3">
    <div class="container">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'books' %}">Books</a>
          </li>
          <li class="breadcrumb-item active">Search results</li>
        </ol>
      </nav>
    </div>
  </section>


  <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
  
          {% if results %}
            {% with results.count as total_books %}
              <p style="font-family: georgia, serif; font-style: italic;">
                {{ total_books }} result{{ total_books|pluralize }} found for "{{ query }}"
              </p>
            {% endwith %}
            <table class="table table-hover">
              <!-- <thead>
                <tr>
                  <th></th>
                  <th scope="col">Title</th>
                  <th scope="col">Author</th>
                  <th scope="col">Tags</th>
                  <th></th>
                </tr>
              </thead> -->
              <tbody>
                {% for book in results %}
                  <tr>
                    <td>
                      <a href="{{ book.get_absolute_url }}">
                        <!-- the updated method of using thumbnails -->
                        {% if book.photo %}
                          {% load thumbnail %}
                          <img src="{% thumbnail book.photo 100x0 %}" class="img-fluid img-thumbnail-edit">
                        {% else %}
                          <img class="img-fluid img-thumbnail-edit" src="{% static 'img/blank.png' %}" alt="">
                        {% endif %}

                        <!-- the alternative approach of getting the image from openlibrary -->
                        {# <img src="{{ book.get_cover_url }}" alt="OpenLibrary.org" class="img-fluid img-thumbnail-edit"> #}

                        <!-- the original method of pulling images -->
                        <!-- <img class="img-fluid img-thumbnail-edit"
                        {% if book.photo %}
                          src="{{ book.photo.url }}"
                        {% else %}
                          src="{% static 'img/blank.png' %}"
                        {% endif %}
                        alt=""> -->
                      </a>
                    </td>
                    <td>
                      <h4><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h4>
                      <p>
                        by {{ book.author }}
                      </p>
                      <p class="small">
                        {% if book.book_tags %}
                          {% for tag in book.book_tags.all %}
                            {{ tag.name|title }}
                            {% if not forloop.last %} &middot; {% endif %}
                          {% endfor %}
                        {% endif %} 
                      </p>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <p>There are no results for your query.</p>
          {% endif %}

          <!-- Any book tags similar to query? -->
          {% if tags %}
            <br>
            <p>
              <span style="font-family: georgia, serif; font-style: italic;">Did you mean to search for books tagged with:</span>
              {% for tag in tags %}
                <a href="{% url 'books_by_tag' tag_slug=tag.slug %}"
                  {% if tag.band == 1 %}
                    class="badge badge-pill badge-primary"
                  {% elif tag.band == 2 %}
                    class="badge badge-pill badge-light"
                  {% elif tag.band == 3 %}
                    class="badge badge-pill badge-info"
                  {% elif tag.band == 4 %}
                    class="badge badge-pill badge-danger"
                  {% elif tag.band == 5 %}
                    class="badge badge-pill badge-secondary"
                  {% elif tag.band == 6 %}
                    class="badge badge-pill badge-warning"
                  {% else %}
                    class="badge badge-pill badge-dark"
                  {% endif %}
                >
                  <span>
                    {{ tag.name|title }}
                  </span>
                </a>
              {% endfor %}
              <span style="font-family: georgia, serif; font-style: italic;">?</span>
            </p>
          {% endif %}

        </div>
      </div>
    </div>
  </section>

  <!-- <section id="listings" class="py-4">
    <div class="container">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-8">
            <h4>
              {% with results.count as total_results %}
                Found {{ total_results }} result{{ total_results|pluralize }}
              {% endwith %}
            </h4>
            {% for book in results %}
              <h5><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h5>
              {{ book.summary|truncatewords:5 }}
            {% empty %}
              <p>There are no results for your query.</p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section> -->


{% endblock %}

{% block extrascripts %}
  <!-- Autocomplete -->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#keywords" ).autocomplete({
      source: '{% url 'books' %}',
      minLength: 3
    });
  } );
  </script>
{% endblock extrascripts %}