{% extends 'site_base.html' %}
{% load static %}

{% block title %}
  Book V2 - Barham Community Library
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/pages/book.css' %}" />
  <link rel="stylesheet" href="{% static 'css/components/carousel.css' %}" />
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/carousel.js' %}" defer></script>
{% endblock %}

{% block content %}
  <article class="book">
    <div class="wrapper book__wrapper">
      <nav class="book__nav">
        <a href="{% url 'explore_books' %}" class="book__back">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left" aria-hidden="true">
            <line x1="19" y1="12" x2="5" y2="12"></line>
            <polyline points="12 19 5 12 12 5"></polyline>
          </svg>Back Exploring
        </a>
      </nav>

      <header class="book__title-strap">
        <h1 class="book__title">{{ book.title }}</h1>

        {% if book.series %}
          <p class="book__series-title">{{ book.series }} · #{{ book.series_num }}</p>
        {% endif %}

        <p class="book__author">
          By
          <a href="{{ book.author.get_absolute_url }}" class="book__author-link">{{ book.author }}</a>
          {% if author_extra_count > 0 %}
            <span class="book__author-more">· {{ author_extra_count }} more book{{ author_extra_count|pluralize }}</span>
          {% endif %}
        </p>
      </header>

      <div class="book__image-container">
        <div class="sticky-sidebar">
          <figure class="book__image-wrapper">
            {% if book.photo %}
              <img src="{{ book.photo.url }}" alt="Book cover for {{ book.title }}" class="book__image" />
            {% else %}
              <img src="{% static 'img/open_book.svg' %}" alt="" aria-hidden="true" />
            {% endif %}
          </figure>

          <section class="book__desktop-actions">
            <button>❤️ {{ book.users_like.count }}</button>

            {% if user.is_authenticated %}
              {% if num_copies >= 1 %}
                <button>Reserve</button>
              {% else %}
                <button disabled>Not Available</button>
              {% endif %}
            {% else %}
              {% comment %}Will redirect to login page{% endcomment %}
              <button>Borrow</button>
            {% endif %}
          </section>
        </div>
      </div>

      <section class="book__mobile-actions">
        <button>❤️ {{ book.users_like.count }}</button>

        {% if user.is_authenticated %}
          {% if available_copies.count > 0 %}
            <div>
              <button>Reserve</button>
              <p>{{ available_copies.count }} copy{{ available_copies.count|pluralize }} available</p>
            </div>
          {% else %}
            <div>
              <button disabled>Not Available</button>
              <p>No copies available</p>
            </div>
          {% endif %}
        {% else %}
          {% comment %}Will redirect to login page{% endcomment %}
          <button>Borrow</button>
        {% endif %}
      </section>

      <section class="book__summary">
        <h2 class="book__subheading">Synopsis</h2>
        {{ book.summary|linebreaks }}
      </section>

      <section class="book__meta">
        <h3>Book Details</h3>
        {% comment %} <p>{{ details_block.heading }}.</p> {% endcomment %}

        {% for dl in details_block.lists %}
          <dl class="book__desc-list">
            {% for label, value in dl %}
              <div class="book__desc-row">
                <dt class="book__desc-term">{{ label }}</dt>
                <dd class="book__desc-details">{{ value }}</dd>
              </div>
            {% endfor %}
          </dl>
        {% endfor %}
      </section>

      {% if related_collections %}
        <aside class="book__collections">
          <h3>Part of these collections</h3>
          <ul class="book__collections-list">
            {% for c in related_collections %}
              <li class="book__collections-list-item">
                <a class="book__collections-item-link" href="{% url 'collection_detail' c.slug %}">{{ c.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </aside>
      {% endif %}

      {% if other_books_in_series %}
        <aside class="book__series">
          <h2 class="book__subheading">Other books in this series</h2>
          <ul>
            {% for book in other_books_in_series %}
              <li>{{ book.title }}</li>
            {% endfor %}
          </ul>
        </aside>
      {% endif %}

      {% comment %} <aside class="book__similar">
        <h2 class="book__subheading">You might also like</h2>
        <ul>
          {% for book in similar_books %}
            <li>{{ book.title }}</li>
          {% endfor %}
        </ul>
      </aside> {% endcomment %}

      {% if similar_books %}
        {% include 'components/carousel.html' with books=similar_books title='You might also like' tag='aside' extra_class='book__similar' %}
      {% endif %}

      {% if user.is_authenticated or book.reviews.count > 1 %}
        <aside class="book__reviews">
          <h2 class="book__subheading">Reviews</h2>
          {% if book.reviews.count == 0 %}
            <p>Be the first to leave a review!</p>
            <a href="#">Add review</a>
          {% else %}
            <ul>
              <li>Review 1</li>
              <li>Review 2</li>
            </ul>
          {% endif %}
        </aside>
      {% endif %}
    </div>
  </article>
{% endblock %}
