{% extends 'site_base.html' %}
{% load static %}

{% block title %}
  {{ book.title }} by {{ book.author }} - Barham Community Library
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/pages/book.css' %}" />
  <link rel="stylesheet" href="{% static 'css/components/carousel.css' %}" />
  <link rel="stylesheet" href="{% static 'css/components/review.css' %}" />
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/likes-redux.js' %}" defer></script>
  <script src="{% static 'js/book-interest.js' %}" defer></script>
  <script src="{% static 'js/carousel.js' %}" defer></script>
{% endblock %}

{% block content %}
  <article class="book">
    <div class="wrapper book__wrapper">
      <nav class="book__nav">
        <a href="{% url 'explore_books' %}" class="book__back">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left" aria-hidden="true">
            <line x1="19" y1="12" x2="5" y2="12"></line>
            <polyline points="12 19 5 12 12 5"></polyline>
          </svg>Back Exploring
        </a>
      </nav>

      <header class="book__title-strap">
        <h1 class="book__title">{{ book.title }}</h1>

        {% if book.series %}
          <p class="book__series-title">
            <a href="{% url 'series_detail' book.series.id %}" class="book__series-link">
              {{ book.series }} · #{{ book.series_num }}
            </a>
          </p>
        {% endif %}

        <p class="book__author">
          By
          <a href="{{ book.author.get_absolute_url }}" class="book__author-link">{{ book.author }}</a>
          {% if author_extra_books_count > 0 %}
            <span class="book__author-more">· {{ author_extra_books_count }} more book{{ author_extra_books_count|pluralize }}</span>
          {% endif %}
        </p>
      </header>

      <div class="sticky-container">
        <div class="sticky-sidebar">
          <figure class="book__image-wrapper">
            {% if book.photo %}
            <img src="{{ book.photo.url }}" alt="Book cover for {{ book.title }}" class="book__image" />
            {% else %}
            <img src="{% static 'img/open_book.svg' %}" alt="" aria-hidden="true" />
            {% endif %}
          </figure>
          
          <section class="book__actions">
            <div class="book-like" data-like data-id="{{ book.id }}" data-liked="{% if user.is_authenticated and user in book.users_like.all %}true{% else %}false{% endif %}" data-url="{% url 'like' %}" data-auth="{% if user.is_authenticated %}true{% else %}false{% endif %}">
              <span class="book-like__count">
                {% if book.users_like.count > 0 %}
                {{ book.users_like.count }}
                {% endif %}
              </span>
              
              <button type="button" class="book-like__btn" aria-pressed="{% if user.is_authenticated and user in book.users_like.all %}true{% else %}false{% endif %}">
                <span class="visually-hidden">
                  Like or unlike book
                </span>
                <svg class="book-like__icon" viewBox="0 0 24 24" aria-hidden="true">
                  <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"/>
                </svg>
              </button>
            </div>
            
            <div class="book-interest" data-interest data-book-id="{{ book.id }}" data-url="{% url 'register_interest' %}">
              {% if num_copies > 0 %}
              {% if user.is_authenticated %}
              <button class="interest-btn" aria-pressed="{% if interest %}true{% else %}false{% endif %}" {% if interest %}disabled{% endif %}>
                
                <span class="interested-text" style="text-wrap: balance;">
                  Interested:
                  {% if interest.handled %}
                  ready to collect
                  {% else %}
                  await staff response
                  {% endif %}
                </span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon-check"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                
                <span class="sending-text">Sending...</span>
                
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon-bookmark"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path></svg>
                <span class="register-text">Register interest</span>
              </button>
              {% else %}
              <a href="{% url 'login' %}?next={{ request.path }}" class="fake-interest-btn">
                Log in to register interest
              </a>
              {% endif %}
              {% else %}
              <span class="interest-fake-btn">Not Available</span>
              {% endif %}
            </div>
          </section>
        </div>
      </div>


      {% comment %} <section class="book__mobile-actions">
        <button>❤️ {{ book.users_like.count }}</button>

        {% if user.is_authenticated %}
          {% if available_copies.count > 0 %}
            <div>
              <button>Reserve</button>
              <p>{{ available_copies.count }} copy{{ available_copies.count|pluralize }} available</p>
            </div>
          {% else %}
            <div>
              <button disabled>Not Available</button>
              <p>No copies available</p>
            </div>
          {% endif %}
        {% else %}
          <button>Borrow</button>
        {% endif %}
      </section> {% endcomment %}

      <section class="book__summary">
        <h2 class="book__subheading">Synopsis</h2>
        {{ book.summary|linebreaks }}
      </section>

      <section class="book__meta">
        <h3>Book Details</h3>
        {% comment %} <p>{{ details_block.heading }}.</p> {% endcomment %}

        {% for dl in details_block.lists %}
          <dl class="book__desc-list">
            {% for label, value in dl %}
              <div class="book__desc-row">
                <dt class="book__desc-term">{{ label }}</dt>
                <dd class="book__desc-details">{{ value }}</dd>
              </div>
            {% endfor %}
          </dl>
        {% endfor %}
      </section>

      {% if related_collections %}
        <aside class="book__collections">
          <h3>Part of these collections</h3>
          <ul class="book__collections-list">
            {% for c in related_collections %}
              <li class="book__collections-list-item">
                <a class="book__collections-item-link" href="{% url 'collection_detail' c.slug %}">{{ c.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </aside>
      {% endif %}


      {% if other_books_in_series %}
        {% include 'components/carousel.html' with books=other_books_in_series title='Other books in series' tag='aside' extra_class='book__series' %}
      {% endif %}

      {% if similar_books %}
        {% include 'components/carousel.html' with books=similar_books title='You might also like' tag='aside' extra_class='book__similar' %}
      {% endif %}

      {% if user.is_authenticated or book.reviews.count > 1 %}
        <aside class="book__reviews">
          <heading class="book__reviews-heading">

            <h2 class="book__subheading book__reviews-title">Reviews</h2>
            
            {% if user.is_authenticated and has_not_reviewed %}
            <a href="{% url 'review_add' book.id %}" class="button secondary">Write a review</a>
            {% endif %}
          </heading>

          {% for review in book.reviews.all %}
            {% include 'components/review.html' %}
          {% empty %}
            <p>No reviews yet.</p>
          {% endfor %}
        </aside>
      {% endif %}
    </div>
  </article>
{% endblock %}