{% extends 'site_base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}
  {{ collection.title }} - Barham Community Library
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/pages/collection_detail.css' %}" />
{% endblock %}

{% block content %}
  <div class="collection wrapper">
    <nav class="collection__nav">
      <a href="{% url 'collections' %}" class="collection__back">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left" aria-hidden="true"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>  
        All collections
      </a>
    </nav>

    <header class="collection__header">
      <h1 class="collection__title">{{ collection.title }}</h1>
      <p class="collection__description medium">{{ collection.description }}</p>

      <ul class="collection__tags">
        {% for tag in collection.tags %}
          <li class="collection__tag">{{ tag }}</li>
        {% endfor %}
      </ul>
    </header>

    <div class="collection__meta">
      <p class="collection__count">
        {{ total_books }} books in this collection
      </p>

      <form method="get" class="collection__sort">
        <label class="collection__select-label" for="sort">Sort by</label>

        <div class="collection__select">
          <select name="sort" id="sort" onchange="this.form.submit()" class="collection__select-native">
            <option value="relevance" {% if sort == 'relevance' %}selected{% endif %}>
              Relevance
            </option>
            <option value="newest" {% if sort == 'newest' %}selected{% endif %}>
              Recently added
            </option>
            <option value="title" {% if sort == 'title' %}selected{% endif %}>
              Title A-Z
            </option>
          </select>
          
          <div class="collection__select-presentational">
            <span class="collection__select-value">
              {% if sort == 'newest' %}Recently added
              {% elif sort == 'title' %}Title A-Z
              {% else %}Relevance{% endif %}
            </span>

            <svg class="collection__select-icon" width="20" height="20" viewBox="0 0 24 24">
              <polyline points="6 9 12 15 18 9"
                fill="none" stroke="currentColor"
                stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round"/>
            </svg>
          </div>
        </div>
      </form>
    </div>

    <ul class="collection__grid">
      {% for book in books %}
        <li class="collection__book clickable-parent">
          <div class="collection__image-wrapper">
            {% if book.photo %}
              <img src="{{ book.photo|thumbnail_url:'default' }}" alt="" class="collection__cover-image">
            {% else %}
              <img src="{% static 'img/blank.png' %}" alt="" class="collection__cover-image">
            {% endif %}
          </div>

          <div class="collection__book-body">
            <h3 class="collection__book-title">
              <a href="{{ book.get_absolute_url }}" class="collection__book-link clickable-parent-link">{{ book.title }}</a>
            </h3>

            <p class="collection__book-author">{{ book.author }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>

    {% comment %} <nav class="pagination">
      {% if books.has_previous %}
        <a href="?sort={{ sort }}&page={{ books.previous_page_number }}">Previous</a>
      {% else %}
        <span aria-hidden="true"></span>
      {% endif %}

      <span>Page {{ books.number }} of {{ books.paginator.num_pages }}</span>

      {% if books.has_next %}
        <a href="?sort={{ sort }}&page={{ books.next_page_number }}">Next</a>
      {% else %}
        <span aria-hidden="true"></span>
      {% endif %}
    </nav> {% endcomment %}

    <nav class="pagination" aria-label="Pagination">
      {% if books.has_previous %}
        <a class="pagination__control previous" href="?sort={{ sort }}&page={{ books.previous_page_number }}">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
          <span class="pagination__control-text">Previous</span>
        </a>
      {% else %}
        <span class="pagination__control previous pagination__control--disabled">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
          <span class="pagination__control-text">Previous</span>
        </span>
      {% endif %}

      <ul class="pagination__pages">
        {% for num in books.paginator.page_range %}

          {% if num == 1 or num == books.paginator.num_pages or num >= books.number|add:-1 and num <= books.number|add:1 %}

            {% if num == books.number %}
              <li>
                <span class="pagination__page pagination__page--current">{{ num }}</span>
              </li>
            {% else %}
              <li>
                <a class="pagination__page" href="?sort={{ sort }}&page={{ num }}">{{ num }}</a>
              </li>
            {% endif %}

          {% elif num == books.number|add:-2 or num == books.number|add:2 %}
            <li>
              <span class="pagination__ellipsis">…</span>
            </li>
          {% endif %}

        {% endfor %}
      </ul>

      {% if books.has_next %}
        <a class="pagination__control next" href="?sort={{ sort }}&page={{ books.next_page_number }}">
          <span class="pagination__control-text">Next</span>
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
        </a>
      {% else %}
        <span class="pagination__control next pagination__control--disabled">
          <span class="pagination__control-text">Next</span>
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
        </span>
      {% endif %}
    </nav>

  </div>
{% endblock %}
