{% extends 'site_base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}
  Explore books - Barham Community Library
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/pages/explore_books.css' %}" />
  <link rel="stylesheet" href="{% static 'css/components/search_bar.css' %}" />
  <link rel="stylesheet" href="{% static 'css/components/carousel.css' %}" />
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/autocomplete_redux.js' %}" defer></script>
  <script src="{% static 'js/carousel.js' %}" defer></script>
{% endblock %}

{% block content %}
  <div class="search-label">
    <div class="wrapper">
      <label for="search-input" class="wrapper search-label__label">Search our library for books</label>
    </div>
  </div>

  {% include 'components/search_bar.html' %}

  <div class="explore wrapper">
    <h1 class="explore__title">Find your next read</h1>

    {% include 'components/carousel.html' with books=featured_books title='Featured Books' tag='section' %}
  </div>
  <div id="padding"></div>
{% endblock %}
