{% extends 'site_base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}
  Featured - Barham Books
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/pages/featured.css' %}" />
  <link rel="stylesheet" href="{% static 'css/components/staff-pick.css' %}" />
  <link rel="stylesheet" href="{% static 'css/components/carousel.css' %}" />
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/carousel.js' %}" defer></script>
{% endblock %}

{% block content %}
  <div class="featured">
    {% comment %} <div class="hero-featured">
      <div class="hero__bg">
        <div class="wrapper hero__wrapper">
          <article class="hero__article">
            <h1 class="hero__title">Barham Recommends</h1>

            <p class="hero__lede hero__lede-one">{{ hero_one.copy|truncatewords:75 }}</p>

            <figure class="hero__book-figure hero__figure-one">
              <a href="{{ hero_one.book.get_absolute_url }}" class="hero__overlay-link"><span class="visually-hidden">{{ hero_one.book.title }}</span></a>
              <img class="hero__book-image" src="{{ hero_one.book.photo.url }}" alt="Book cover for {{ hero_one.book.title }} by {{ hero_one.book.author }}" />
              <figcaption class="hero__book-text">
                <h3 class="hero__book-title">{{ hero_one.book.title }}</h3>
                <span class="hero__book-author"><a href="{{ hero_one.book.author.get_absolute_url }}" class="hero__author-link">{{ hero_one.book.author }}</a></span>
              </figcaption>
            </figure>

            <p class="hero__lede hero__lede-two">{{ hero_two.copy|truncatewords:75 }}</p>

            <figure class="hero__book-figure hero__figure-two">
              <a href="{{ hero_two.book.get_absolute_url }}" class="hero__overlay-link"><span class="visually-hidden">{{ hero_two.book.title }}</span></a>
              <img class="hero__book-image" src="{{ hero_two.book.photo.url }}" alt="Book cover for {{ hero_two.book.title }} by {{ hero_two.book.author }}" />
              <figcaption class="hero__book-text">
                <h3 class="hero__book-title">{{ hero_two.book.title }}</h3>
                <span class="hero__book-author"><a href="{{ hero_two.book.author.get_absolute_url }}" class="hero__author-link">{{ hero_two.book.author }}</a></span>
              </figcaption>
            </figure>
          </article>

          {% include 'components/carousel.html' with books=featured_books title='Other Recommendations' tag='section' %}
        </div>
      </div>
    </div> {% endcomment %}

    <section class="staff-picks">
      <div class="staff-picks__bg">
        <div class="wrapper staff-picks__wrapper">
          <header class="staff-picks__header">
            <h1 class="staff-picks__title">Staff Picks</h2>

            <p class="staff-picks__lede medium">Handpicked recommendations from our library team.</p>
          </header>

          <div class="staff-picks__grid">
            {% for review in staff_picks %}
              {% include 'components/staff_pick.html' %}
            {% endfor %}
          </div>

          <a href="{% url 'user_reviews' 'barhamlibrary' %}" class="staff-picks__all-link">
            View all staff reviews<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right staff-picks__arrow-link-icon" aria-hidden="true">
              <line x1="5" y1="12" x2="19" y2="12"></line>
              <polyline points="12 5 19 12 12 19"></polyline>
            </svg>
          </a>
        </div>
      </div>
    </section>

    <div class="highlights">
      <div class="wrapper">
        {% include 'components/carousel.html' with books=featured_books title='Other Library Highlights' tag='section' %}
      </div>
    </div>

    <div class="popular">
      <div class="wrapper popular-wrapper">
        <section class="authors">
          <h2 class="popular__title">Popular Authors</h2>

          <ul class="popular__list">
            {% for pop_author in popular_authors %}
              <li class="popular__item" aria-label="{{ pop_author }}">
                <a href="{{ pop_author.get_absolute_url }}" class="popular__overlay-link"><span class="visually-hidden">{{ pop_author }}</span></a>

                <div class="popular__item-content">
                  <span class="popular__avatar">
                    {% if pop_author.photo %}
                      <img src="{{ pop_author.photo.url }}" alt="" />
                    {% endif %}
                  </span>

                  <div class="popular__item-text">
                    <h3 class="popular__name">{{ pop_author }}</h3>

                    <span class="popular__meta">{{ pop_author.num_books }} book{{ pop_author.num_books|pluralize }}</span>
                  </div>

                  {% if pop_author.books.all|length > 0 %}
                    <div class="popular__book-thumbs">
                      {% for author_book in pop_author.books.all|slice:':3' %}
                        {% if author_book.photo %}
                          <img src="{{ author_book.photo|thumbnail_url:'default' }}" alt="" class="popular__book-thumb" />
                        {% endif %}
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              </li>
            {% endfor %}
          </ul>
        </section>

        <section class="series">
          <h2 class="popular__title">Popular Series</h2>

          <ul class="popular__list">
            {% for pop_series in popular_series %}
              <li class="popular__item" aria-label="{{ pop_series }}">
                <a href="{% url 'series_detail' pop_series.id %}" class="popular__overlay-link"><span class="visually-hidden">{{ pop_series }}</span></a>

                <div class="popular__item-content">
                  {% comment %} <span class="popular__avatar">
                    {% if pop_author.photo %}
                      <img src="{{ pop_author.photo.url }}" alt="" />
                    {% endif %}
                  </span> {% endcomment %}

                  <div class="popular__item-text">
                    <h3 class="popular__name">{{ pop_series }}</h3>

                    <span class="popular__meta">{{ pop_series.num_books }} book{{ pop_series.num_books|pluralize }}</span>
                  </div>

                  {% if pop_series.books.all|length > 0 %}
                    <div class="popular__book-thumbs">
                      {% for series_book in pop_series.books.all|slice:':3' %}
                        {% if series_book.photo %}
                          <img src="{{ series_book.photo|thumbnail_url:'default' }}" alt="" class="popular__book-thumb" />
                        {% endif %}
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              </li>
            {% endfor %}
          </ul>
        </section>
      </div>
    </div>

    <div class="wrapper short-reads__wrapper">
      {% include 'components/carousel.html' with books=short_reads title='Short Reads' tag='section' %}
    </div>
  </div>
{% endblock %}
