{% extends 'site_base.html' %}
{% load static %}

{% block title %}
  {{ author }} - Barham Community Library
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/pages/author.css' %}" />
  <link rel="stylesheet" href="{% static 'css/components/book-grid.css' %}" />
{% endblock %}

{% block content %}
  <div class="wrapper author">
    <header class="author__heading">
      <h1 class="author__title">{{ author }}</h1>

      {% comment %} {% if author.dob %}
        <p class="author__dates">
          {% if author.dod %}
            {{ author.dob|date:'Y' }}-{{ author.dod|date:'Y' }}
          {% else %}
            Born {{ author.dob|date:'Y' }}
          {% endif %}
        </p>
      {% endif %} {% endcomment %}

      {% if num_books > 0 %}
        <p class="author__meta">{{ num_books }} book{{ num_books|pluralize }} in the library</p>
      {% endif %}
    </header>

    {% if num_books > 0 %}
      {% include 'components/book_grid.html' with books=books hide_author=hide_author %}
    {% else %}
      <p>No books for this author are currently in the library.</p>
    {% endif %}
  </div>
{% endblock %}

{% comment %} <section id="showcase-inner" class="py-5 text-white" style="min-height: 100px; background-size:cover;">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">{{ author }}</h1>
        {% if author.dob %}
          <p class="lead">
            <i class="fas fa-map-marker"></i> {{ author.dob }} -{% if author.dod %}{{ author.dod }}{% endif %}
          </p>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'books' %}">Books</a>
        </li>
        <li class="breadcrumb-item active">Authors / {{ author }}</li>
      </ol>
    </nav>
  </div>
</section>

<!-- Listing -->
<section id="listing" class="py-4">
  <div class="container">
    <div class="col-md-12">
      {% if books %}
        <div class="container-fluid">
          <div class="row">
            {% for book in books %}
              <div class="col-lg-2 col-md-3 col-sm-4 col-4 text-center mb-2">
                <a href="{{ book.get_absolute_url }}">
                  {% if book.photo %}
                    {% load thumbnail %}
                    <img src="{{ book.photo|thumbnail_url:'default' }}" class="img-fluid img-thumbnail-edit" />
                  {% else %}
                    <img class="img-fluid img-thumbnail-edit" src="{% static 'img/blank.png' %}" alt="" />
                  {% endif %}
                </a>
                <div class="d-none d-md-block">
                  <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                  {% if book.year %}
                    <p class="text-secondary">
                      <small>{{ book.year }}</small>
                    </p>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <p>Author has no books in library.</p>
      {% endif %}
    </div>
  </div>
</section> {% endcomment %}
