@layer component {
  .author {
    .author__heading {
      display: grid;
      gap: 16px;
      margin-block-end: 48px;
    }

    .author__title {
      font-size: calc(48 / 16 * 1rem);
    }

    .author__meta {
      font-style: italic;
      font-weight: 300;
    }
  }
}
