@layer component {
  .catalogue-data {
  }

  .catalogue-data__header {
    margin-block-end: 40px;
  }

  .catalogue-data__lede {
    margin-block-start: 20px;
  }

  .catalogue-data__section {
    margin-block-start: 40px;
  }

  .catalogue-data__section p {
    margin-block-end: 1.5em;
    text-wrap: wrap;
  }

  .catalogue-data__section-title {
    margin-block-end: 16px;
  }

  .catalogue-data__meta {
    display: grid;
    gap: 12px;
    margin-block: 24px;
  }

  .catalogue-data__meta div {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 16px;
  }

  .catalogue-data__meta dt {
    font-weight: 700;
  }

  .catalogue-data__meta dd {
    margin: 0;
  }

  .catalogue-data__note {
    margin-block: 24px;
    padding: 16px;
    border: 1px solid var(--card-border-color);
    border-radius: 12px;
    background-color: var(--card-bg-color);
  }

  .catalogue-data__form {
    display: grid;
    gap: 20px;
    margin-block-start: 24px;
  }

  .catalogue-data__button {
    width: fit-content;

    &:disabled {
      cursor: not-allowed;
    }
  }

  .catalogue-data__link {
    display: inline;
    text-decoration: underline 2px dotted;
    font-size: calc(18 / 16 * 1rem);
    text-underline-offset: 3px;
    transition: color 100ms ease-in-out;
    cursor: pointer;

    &:hover {
      color: var(--c-magenta);
      text-decoration: none;
    }
  }
}
