@layer component {
  .collection {
    .collection__nav {
      margin-block-end: 20px;
    }

    .collection__back {
      display: inline-flex;
      gap: 10px;
      align-items: center;
      color: inherit;

      .icon {
        width: calc(20 / 16 * 1rem);
        height: calc(20 / 16 * 1rem);
      }

      &:hover {
        text-decoration: underline 1px;
        text-underline-offset: 4px;
      }
    }

    .collection__header {
      margin-block-end: 40px;
    }

    .collection__description {
      margin-block: 24px;
    }

    .collection__tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5em;
      list-style: none;
      padding: 0;
    }

    .collection__tag {
      --color-tag-border: var(--c-gray-light);

      padding: 0.25rem 0.75rem;
      border: 1px solid var(--color-tag-border);
      border-radius: 100vmax;
    }

    .collection__meta {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: last baseline;
      gap: 1em;
      margin-block-end: 32px;
      font-size: calc(14 / 16 * 1rem);
    }

    .collection__count {
      font-style: italic;
      font-weight: 300;
    }

    .collection__sort {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .collection__select-label {
    }

    .collection__select {
      position: relative;
      width: max-content;
    }

    .collection__select-native {
      position: absolute;
      inset: 0;
      opacity: 0;
      cursor: pointer;

      &:focus + .collection__select-presentational {
        outline: 2px solid AccentColor;
        outline: 2px solid -webkit-focus-ring-color;
        outline-offset: 2px;
      }
    }

    .collection__select-presentational {
      background-color: var(--c-white-bone);
      padding: 12px 16px;
      padding-right: 52px;
      border-radius: 8px;
    }

    .collection__select-value {
    }

    .collection__select-icon {
      position: absolute;
      right: 10px;
      top: 0;
      bottom: 0;
      margin: auto;
      pointer-events: none;
    }

    .collection__grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      grid-auto-rows: 1fr auto;
      gap: 24px var(--vertical-padding, 16px);
      list-style: none;
      padding: 0;
    }

    .collection__book {
      --card-bg: var(--c-white-bone, lightgray);

      background-color: var(--card-bg);
      border-radius: 12px;
      padding: 14px 10px 24px;
      display: grid;
      grid-template-rows: subgrid;
      grid-row: span 2;
      transition: 300ms ease;
      transition-property: transform, filter;

      &:hover .collection__cover-image,
      &:focus-within .collection__cover-image {
        transform: scale(1.05);
        filter: brightness(100%);
      }
    }

    .collection__image-wrapper {
      justify-self: center;
      border-radius: 2px;
      overflow: hidden;
      width: fit-content;
    }

    .collection__cover-image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      will-change: transform;
      filter: brightness(95%);
      transition: 150ms ease-in-out;
      transition-property: transform, filter;
    }

    .collection__book-body {
      text-align: center;
    }

    .collection__book-title {
      font-size: calc(20 / 16 * 1rem);
      font-size: var(--font-size-book-title);
      margin-block-end: 10px;
    }

    .collection__book-link {
      color: inherit;
    }

    .collection__book-author {
      font-size: var(--font-size-book-author);
    }
  }
}
