@layer component {
  .collection {
    .collection__nav {
      margin-block-end: 20px;
    }

    .collection__back {
      display: inline-flex;
      gap: 10px;
      align-items: center;
      color: inherit;

      .icon {
        width: calc(20 / 16 * 1rem);
        height: calc(20 / 16 * 1rem);
      }

      &:hover {
        text-decoration: underline 1px;
        text-underline-offset: 4px;
      }
    }

    .collection__header {
      margin-block-end: 40px;
    }

    .collection__description {
      margin-block: 24px;
    }

    .collection__tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5em;
      list-style: none;
      padding: 0;
    }

    .collection__tag {
      --color-tag-border: var(--c-gray-light);

      padding: 0.25rem 0.75rem;
      border: 1px solid var(--color-tag-border);
      border-radius: 100vmax;
    }

    .collection__meta {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 1em;
      margin-block-end: 32px;
    }

    .collection__grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      grid-template-rows: 1fr auto;
      gap: 24px var(--vertical-padding, 16px);
      list-style: none;
      padding: 0;
    }

    .collection__book {
      --card-bg: var(--c-white-bone, lightgray);

      background-color: var(--card-bg);
      border-radius: 12px;
      padding: 14px 10px 24px;
      display: grid;
      grid-template-rows: subgrid;
      grid-row: span 2;
      transition: 300ms ease;
      transition-property: transform, filter;

      &:hover .collection__cover-image,
      &:focus-within .collection__cover-image {
        transform: scale(1.05);
        filter: brightness(100%);
      }
    }

    .collection__image-wrapper {
      justify-self: center;
      border-radius: 2px;
      overflow: hidden;
      width: fit-content;
    }

    .collection__cover-image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      will-change: transform;
      filter: brightness(95%);
      transition: 150ms ease-in-out;
      transition-property: transform, filter;
    }

    .collection__book-body {
      text-align: center;
    }

    .collection__book-title {
      font-size: calc(20 / 16 * 1rem);
      font-size: var(--font-size-book-title);
      margin-block-end: 10px;
    }

    .collection__book-link {
      color: inherit;
    }

    .collection__book-author {
      font-size: var(--font-size-book-author);
    }

    /* .pagination {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      margin-block-start: 24px;

      :first-child {
        justify-self: start;
      }

      :last-child {
        justify-self: end;
      }

      a {
        color: inherit;

        &:hover {
          text-decoration: underline;
        }
      }
    } */

    .pagination {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;
      gap: 1em;
      margin-block-start: 32px;
      font-size: calc(18 / 16 * 1rem);

      .pagination__control {
        display: flex;
        align-items: center;
        gap: 4px;
        color: inherit;
        padding: 4px 8px;
        border-radius: 100vmax;

        &.previous {
          justify-self: start;
        }

        &.next {
          justify-self: end;
        }

        &:hover,
        &:focus-visible {
          background-color: var(--c-white-bone);
        }

        @media (width >= calc(600 / 16 * 1rem)) {
          padding-inline: 12px;
        }
      }

      .pagination__control-text {
        display: none;

        @media (width >= calc(600 / 16 * 1rem)) {
          display: revert;
        }
      }

      .pagination__control--disabled {
        opacity: 0.4;
        pointer-events: none;
      }

      .pagination__pages {
        justify-self: center;
        display: flex;
        align-items: baseline;
        gap: 6px;
        list-style: none;
        padding: 0;
        margin: 0;
      }

      .pagination__page {
        display: grid;
        place-content: center;
        min-width: calc(32 / 16 * 1rem);
        height: calc(32 / 16 * 1rem);
        border-radius: 100vmax;
        color: inherit;

        &:not(.pagination__page--current):hover,
        &:not(.pagination__page--current):focus-visible {
          background-color: var(--c-white-bone);
        }
      }

      .pagination__page--current {
        background: var(--c-gray-dark);
        color: white;
        font-weight: 600;
      }

      .pagination__ellipsis {
        padding-inline: 0.25rem;
        opacity: 0.6;
      }
    }
  }
}
