@layer component {
  .copies {
    .copies__card {
      width: min(600px, 100%);
      margin-inline: auto;
    }

    .copies__card h1 {
      font-size: calc(48 / 16 * 1rem);
      margin-block-end: 16px;
    }

    .copies__lead {
      color: var(--color-text-muted);
      margin-block-end: 32px;
    }

    .form {
      display: grid;
      gap: 24px;
    }

    .form label {
      font-weight: 500;
      margin-block-end: 8px;
      display: block;
    }

    .form input,
    .form textarea {
      padding: 10px 12px;
      border: 1px solid #ddd;
      border-radius: 6px;
      font-size: 1rem;
      width: 100%;
      background-color: var(--c-white-bone);
    }

    .form select {
      padding: 8px 12px;
      border: 1px solid #ddd;
      border-radius: 6px;
      font-size: 1rem;
      background-color: var(--c-white-bone);
      cursor: pointer;
    }

    .copies__actions {
      margin-top: 24px;
      display: flex;
      align-items: baseline;
      gap: 24px;
    }

    .book__desc-list {
      margin-block-start: 12px;
      padding-inline-start: 8px;
      border-inline-start: 4px solid var(--c-gray-medium);
      border-radius: 6px;
      color: var(--c-gray-medium);
    }

    .book__desc-row {
      display: flex;
      margin-block-end: 4px;
    }

    .book__desc-term::after {
      content: ':';
    }

    .book__desc-details {
      margin-inline-start: 10px;
    }
  }
}
