@layer component {
  .search-label {
    background: var(--color-sticky-search-bg);

    .wrapper {
      text-align: center;
      padding-block: 22px 4px;

      @media (width >= calc(600 / 16 * 1rem)) {
        text-align: left;
        padding-block-start: 28px;
      }
    }

    .search-label__label {
      display: inline-block;
      padding: 0;
      font-size: var(--font-size-form-label);
      line-height: 1;
    }
  }

  .explore {
    --blue-bg: hsl(230deg 40% 20%);
    --blue-darker: hsl(230deg 40% 24%);
    --blue-dark: hsl(230deg 40% 28%);

    --pink-bg: hsl(6, 30%, 94%);
    --pink-dark: hsl(6, 30%, 92%);
    --pink-darker: hsl(6, 30%, 90%);

    .carousel-wrapper {
      padding-block: 32px 24px;
    }

    .recommended {
      background: var(--pink-bg);
    }
    .recommended__bg {
      background: linear-gradient(
          calc(180deg - 20deg),
          transparent 0%,
          transparent 49.99%,
          var(--pink-dark) 50%,
          var(--pink-dark) 100%
        ),
        linear-gradient(
          calc(180deg + 20deg),
          transparent 0%,
          transparent 49.99%,
          var(--pink-darker) 50%,
          var(--pink-darker) 100%
        );

      /* background-size: cover;
      background-color: #f6f6f6;
      background-position: 0 0;
      background-repeat: no-repeat;

      background-image: url('../../img/pink-blobs.jpg');

      background-image: url('../../img/pink-blobs.jpg'),
        -moz-linear-gradient(45deg, #f6f6f6 0, rgba(
                246,
                246,
                246,
                0.1
              )
              80%);

      background-image: url('../../img/pink-blobs.jpg'),
        linear-gradient(
          45deg,
          #f6f6f6 0,
          rgba(246, 246, 246, 0.1) 80%
        );

      background-image: url('../../img/pink-blobs.jpg'),
        -moz-linear-gradient(45deg, #f6f6f6 0, rgba(
                246,
                246,
                246,
                0.1
              )
              80%); */
    }

    .recommended__wrapper {
      padding-block: 64px 48px;
    }

    .recommended__article {
      margin-block-end: 48px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 24px;
      grid-template-areas:
        'rec-title rec-title'
        'fig-one fig-two'
        'lede-one lede-one'
        'lede-two lede-two';

      @media (width >= calc(600 / 16 * 1rem)) {
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
          'rec-title rec-title rec-title rec-title rec-title'
          'lede-one lede-one lede-one fig-one fig-one'
          'fig-two fig-two lede-two lede-two lede-two';
      }

      @media (width >= calc(1000 / 16 * 1rem)) {
        grid-auto-rows: auto auto 1fr;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
          'rec-title rec-title rec-title fig-one fig-two'
          'lede-one lede-one lede-one fig-one fig-two'
          'lede-two lede-two lede-two fig-one fig-two';
      }
    }

    .recommended__title {
      grid-area: rec-title;
      font-size: calc(48 / 16 * 1rem);
      margin-block-end: 12px;
      /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05); */
    }

    .recommended__lede-one {
      grid-area: lede-one;

      @media (width >= calc(600 / 16 * 1rem)) and (width < calc(1000 / 16 * 1rem)) {
        padding-block-start: 16px;
        padding-inline-end: 16px;
      }
    }

    .recommended__lede-two {
      grid-area: lede-two;

      @media (width >= calc(600 / 16 * 1rem)) and (width < calc(1000 / 16 * 1rem)) {
        padding-inline-start: 16px;
        padding-block-start: 16px;
      }
    }

    .recommended__figure-one {
      grid-area: fig-one;
      justify-self: start;
    }

    .recommended__figure-two {
      grid-area: fig-two;
      justify-self: end;
    }

    .recommended__lede {
      /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05); */
      @media (width < calc(600 / 16 * 1rem)) {
        text-wrap: wrap;
      }
      @media (width >= calc(1000 / 16 * 1rem)) {
        padding-inline-end: 16px;
      }
    }

    .recommended__book-figure {
      position: relative;
      isolation: isolate;
      width: fit-content;
      padding-inline: 5%;
    }

    .recommended__book-image {
      filter: brightness(97%);
      transition: filter 100ms ease-in-out;
      border-radius: 4px;
      max-height: 300px;
      margin-inline: auto;
    }

    .recommended__book-text {
      display: grid;
      gap: 8px;
      justify-items: center;
    }

    .recommended__book-title {
      font-size: calc(22 / 16 * 1rem);
      font-weight: 500;
      margin-block-start: 12px;
      text-align: center;
    }

    .recommended__overlay-link {
      position: absolute;
      inset: 0;
      z-index: 1;
      cursor: pointer;

      &:hover ~ .recommended__book-text .recommended__book-title {
        text-decoration: 2px underline;
        text-underline-offset: 3px;
      }

      &:hover ~ .recommended__book-image {
        filter: brightness(105%);
      }
    }

    .recommended__book-author {
      display: block;
      width: 100%;
      text-align: center;
      font-size: calc(16 / 16 * 1rem);
      /* text-transform: uppercase; */
      /* font-style: italic; */
    }

    .recommended__author-link {
      color: inherit;
      padding: 4px 10px;
      transition: color 150ms ease-in-out;

      &:hover {
        color: var(--c-magenta);
      }
    }

    .authors__title {
      font-size: calc(36 / 16 * 1rem);
      margin-block-end: 32px;
    }

    .authors__list {
      padding: 0;
      list-style: none;
      display: grid;
      gap: 4px;
    }

    .authors__author {
      position: relative;
      isolation: isolate;
      width: max-content;
    }

    .authors__overlay-link {
      position: absolute;
      inset: 0;

      &:hover ~ .authors__author-content {
        background: hsl(6, 30%, 92%);
      }

      &:hover ~ .authors__author-content .authors__name {
        text-decoration: underline 2px;
        text-underline-offset: 3px;
      }
    }

    .authors__author-content {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      align-items: center;
      gap: 8px;
      transition: background 100ms ease-in-out;
      padding: 8px 16px;
      border-radius: 8px;

      @media (width >= calc(600 / 16 * 1rem)) {
        gap: 16px;
      }
    }

    .authors__avatar {
      width: calc(40 / 16 * 1rem);
      height: calc(40 / 16 * 1rem);
      border-radius: 100vmax;
      overflow: hidden;

      & img {
        width: 100%;
      }

      @media (width >= calc(600 / 16 * 1rem)) {
        width: calc(50 / 16 * 1rem);
        height: calc(50 / 16 * 1rem);
      }
    }

    .authors__author-text {
      display: flex;
      flex-direction: column;
      gap: 2px 16px;

      @media (width >= calc(600 / 16 * 1rem)) {
        flex-direction: row;
        align-items: baseline;
      }
    }

    .authors__name {
      font-size: calc(18 / 16 * 1rem);
      font-weight: 400;

      @media (width >= calc(600 / 16 * 1rem)) {
        font-size: calc(22 / 16 * 1rem);
      }
    }

    .authors__meta {
      font-size: calc(16 / 16 * 1rem);
      color: var(--color-text-muted);
      font-style: italic;
    }

    .authors__book-thumbs {
      display: none;

      @media (width >= calc(600 / 16 * 1rem)) {
        display: flex;
      }
    }

    .authors__book-thumb {
      width: calc(30 / 16 * 1rem);
    }
  }
}
