@layer component {
  .hero {
    background-color: var(--color-hero-bg);
    color: var(--color-text-light);

    .hero__wrapper {
      position: relative;
      padding-block: 120px 150px;
      display: grid;
      grid-template-columns: 1fr;

      @media (width >= calc(600 / 16 * 1rem)) {
        padding-block: 80px 100px;
      }

      @media (width >= calc(1000 / 16 * 1rem)) {
        grid-template-columns: 1fr 1fr;
      }
    }

    /* Decorative backdrop:
       - Full-bleed on mobile
       - Right-half emphasis on desktop */
    .hero__backdrop {
      position: absolute;
      top: 0;
      bottom: 0;
      left: calc(var(--vertical-padding) * -1);
      right: calc(var(--vertical-padding) * -1);

      background-image: url('../../img/hero-image.jpg');
      background-size: cover;
      background-position: center;

      opacity: 0.08;
      pointer-events: none;

      @media (width >= calc(1000 / 16 * 1rem)) {
        left: 50%;
        right: 0;
        opacity: 0.7;
      }
    }

    .hero__content {
      position: relative;

      @media (width >= calc(1000 / 16 * 1rem)) {
        grid-column: 1;
        padding-inline-end: 24px;
      }
    }

    .hero__title {
      margin-block-end: 24px;
    }

    .hero__subtitle {
      font-weight: 500;
      margin-block-end: 40px;
      line-height: 1.5;
      max-width: 45ch;
    }

    .hero__link {
    }
  }

  .collections {
    .collections__wrapper {
      text-align: center;

      @media (width >= calc(600 / 16 * 1rem)) {
        padding-block: 80px;
      }
    }

    .collections__top-row {
      margin-block-end: 40px;
    }

    .collections__title {
      margin-block-end: 20px;
    }

    .collections__container {
      display: grid;
      grid-auto-rows: 1fr;
      gap: 20px 24px;
      margin-block-end: 40px;
      list-style: none;
      padding: 0;

      @media (width >= calc(600 / 16 * 1rem)) {
        grid-template-columns: 1fr 1fr;
      }

      @media (width >= calc(1000 / 16 * 1rem)) {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    .collections__item {
      display: grid;
      place-content: center;
      border-radius: 8px;
      padding: 24px 16px;
      border: 2px solid var(--color-collections-border);
      transition: background-color 150ms ease-in-out;

      &:hover,
      &:focus-within {
        background-color: var(--c-white-bone);
      }

      @media (width >= calc(1000 / 16 * 1rem)) {
        padding-block: 32px;
      }
    }

    .collections__item-title {
      max-width: 18ch;
    }

    .collections__item-link {
      width: fit-content;
    }

    .collections__cta {
    }

    .collections__cta-link {
    }
  }

  .fw-about {
    background-color: var(--color-fullwidth-bg);
    color: var(--color-text-light);

    .fw-about__img-wrapper {
      margin: 40px calc(var(--vertical-padding) * -1);

      @media (width >= calc(600 / 16 * 1rem)) {
        margin-inline: 0;
      }
    }

    .fw-about__image {
      width: min(100%, calc(800 / 16 * 1rem));
      margin-inline: auto;
      filter: brightness(120%) contrast(80%);

      @media (width >= calc(600 / 16 * 1rem)) {
        border-radius: 12px;
        box-shadow: var(--shadow-gray);
      }
    }

    .fw-about__link {
    }
  }

  .testimonial {
    .testimonial__wrapper {
    }

    .testimonial__figure {
      width: min(100%, calc(800 / 16 * 1rem));
      margin-inline: auto;

      @media (width >= calc(1000 / 16 * 1rem)) {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas:
          'l-quote quote-text r-quote'
          '. author .';
      }
    }

    .testimonial__icon {
      width: calc(52 / 16 * 1rem);

      @media (width >= calc(600 / 16 * 1rem)) {
        width: calc(78 / 16 * 1rem);
      }

      &:first-child {
        @media (width >= calc(1000 / 16 * 1rem)) {
          grid-area: l-quote;
          justify-self: end;
          align-self: start;
          margin-inline-end: 40px;
        }
      }

      &:last-child {
        rotate: 180deg;

        @media (width >= calc(1000 / 16 * 1rem)) {
          grid-area: r-quote;
          justify-self: start;
          align-self: end;
          margin-inline-start: 40px;
        }

        @media (width < calc(1000 / 16 * 1rem)) {
          display: none;
        }
      }
    }

    .testimonial__quote-text {
      grid-area: quote-text;
      margin-block: 20px 40px;
      font-size: var(--font-size-quote);
      font-weight: 700;

      @media (width >= calc(600 / 16 * 1rem)) {
        flex-direction: row;
      }

      @media (width >= calc(1000 / 16 * 1rem)) {
        margin-block-start: 40px;
      }
    }

    .testimonial__author-wrapper {
      grid-area: author;
      display: flex;
      flex-direction: column;
      gap: 20px 30px;
      align-items: center;

      @media (width >= calc(600 / 16 * 1rem)) {
        flex-direction: row;
      }
    }

    .testimonial__author-image {
      width: calc(120 / 16 * 1rem);
      border-radius: 100vmax;
    }

    .testimonial__author-description {
      text-align: center;

      @media (width >= calc(600 / 16 * 1rem)) {
        text-align: left;
      }
    }
  }

  .fw-cta {
    background: linear-gradient(
      to right,
      var(--color-cta-gradient1) 0%,
      var(--color-cta-gradient2) var(--cta-stop-two),
      var(--color-cta-gradient3) var(--cta-stop-three)
    );

    color: var(--color-text-light);

    .fw-cta__title {
      font-weight: 700;
    }
  }
}
