@layer component {
  .search-results {
    .search-results__title {
      font-size: var(--font-size-search-heading);
      margin-block-end: 40px;
    }

    .search-results__meta {
      margin-block-end: 32px;
    }

    .search-results__count {
      font-style: italic;
      font-weight: 300;
    }

    .search-results__error-body {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .search-results__tip {
      display: block;
      color: var(--c-gray-medium);
      font-style: italic;
      font-size: calc(16 / 16 * 1rem);
    }
  }
}
