{% extends 'site_base.html' %}
{% load static %}

{% block title %}
  Entry - Add book - Barham Books
{% endblock %}

{% block extra_css %}
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/pages/add-book-wizard.css' %}" />
{% endblock %}

{% block extra_js %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" defer></script>
  <script src="{% static 'js/add-book.js' %}" defer></script>
{% endblock %}

{% block content %}
  <div class="wizard">
    <div class="wrapper">
      {% include 'components/wizard_steps.html' %}

      <section class="wizard__panel full">
        <div class="wizard__header">
          <h1 class="wizard__title">Enter book detail</h1>
          {% comment %} <p class="wizard__intro">Self explanatory</p> {% endcomment %}
        </div>

        <div class="wizard__body">
          <form method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.non_field_errors }}

            <div class="form-field">{{ form.title.label_tag }}
              {{ form.title }}
              {{ form.title.errors }}</div>

            <div class="form-field">
              {{ form.author.label_tag }}
              {{ form.author }}
              {{ form.author.errors }}
              <small>{{ form.author.help_text }}</small>
            </div>

            <div class="form-row">
              <div class="form-field">{{ form.category.label_tag }}
                {{ form.category }}
                {{ form.category.errors }}</div>

              <div class="form-field">{{ form.book_type.label_tag }}
                {{ form.book_type }}{{ form.book_type.errors }}</div>
            </div>

            <div class="form-field">
              {{ form.book_tags.label_tag }}
              {{ form.book_tags }}
              {{ form.book_tags.errors }}
              {% if tag_hint %}
                <span class="tag-hint">API suggested: {{ tag_hint }}</span>
              {% endif %}
            </div>

            <div class="form-row two-thirds">
              <div class="form-field">{{ form.summary.label_tag }}
                {{ form.summary }}{{ form.summary.errors }}</div>

              <div class="form-field">
                {{ form.photo.label_tag }}
                {{ form.photo }}
                {{ form.photo.errors }}
                <button id="clear-photo" type="button">Clear image</button>
              </div>
            </div>

            <div class="form-field select-overflow">{{ form.series_existing.label_tag }}
              {{ form.series_existing }}
              {{ form.series_existing.errors }}</div>

            <div class="form-row two-thirds">
              <div class="form-field">{{ form.series_new.label_tag }}
                {{ form.series_new }}{{ form.series_new.errors }}</div>

              <div class="form-field">{{ form.series_num.label_tag }}
                {{ form.series_num }}{{ form.series_num.errors }}</div>
            </div>

            <div class="form-row">
              <div class="form-field">
                {{ form.isbn.label_tag }}
                {{ form.isbn }}
                {{ form.isbn.errors }}
                <small>{{ form.isbn.help_text }}</small>
              </div>

              <div class="form-field">{{ form.language.label_tag }}
                {{ form.language }}{{ form.language.errors }}</div>
            </div>

            <div class="form-row three-equal">
              <div class="form-field">{{ form.pages.label_tag }}
                {{ form.pages }}{{ form.pages.errors }}</div>

              <div class="form-field">{{ form.publisher.label_tag }}
                {{ form.publisher }}{{ form.publisher.errors }}</div>

              <div class="form-field">{{ form.year.label_tag }}
                {{ form.year }}{{ form.year.errors }}</div>
            </div>

            <div class="form-field adjacent">{{ form.is_featured }}
              {{ form.is_featured.label_tag }}
              {{ form.is_featured.errors }}</div>

            <button type="submit" class="button primary wizard__button">Review & confirm</button>
          </form>
        </div>
      </section>
    </div>
  </div>
{% endblock %}
