{% extends 'site_base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/pages/lookup-book-cover.css' %}" />
{% endblock %}

{% block content %}
  <section class="cover-lookup">
    <div class="wrapper">
      <h1 class="cover-lookup__title">Add Cover Image</h1>
      <p class="cover-lookup__lead">Here's a book cover image we found:</p>
      <div class="cover-lookup__card">
        <img src="{{ temp_image_url }}" alt="Book Cover" class="cover-lookup__image" />

        <form action="{% url 'associate_book_for_sale_cover' book.id %}" method="post">
          {% csrf_token %}
          <div class="cover-lookup__buttons">
            <button class="button primary" type="submit">Associate Image To Book</button>
            <a href="" class="cover-lookup__cancel">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock %}
