{% extends 'base.html' %}

{% block content %}
	<section id="showcase-inner" class="showcase-search text-white py-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
        	<h1 class="display-4">User lookup</h1>
        	<br>
          <form action="{% url 'users' %}">
          	{% csrf_token %}
            <div class="form-row">
            	<div class="col-md-6 mb-3">
                <label class="sr-only">User ID</label>
                <select name="user_id" class="form-control">
                  <option selected="true" disabled="disabled">User ID</option>
                  {% for user in users %}
                    <option value="{{ user.id }}"
                      {% if user.id == values.user_id %}
                        selected
                      {% endif %}
                    >{{ user.id }} {{ user.username }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <label class="sr-only">Username</label>
                <input type="text" name="username" class="form-control" placeholder="Username" value="{{ values.usernames }}">
              </div>
            </div>
            <button class="btn btn-secondary btn-block mt-4" type="submit">Look up user</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> Users</li>
        </ol>
      </nav>
    </div>
  </section>

	<!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
      	{% if users %}
	        <div class="col-md-12">
	          <table class="table">
	            <thead>
	              <tr>
	                <!-- <th scope="col">#</th> -->
	                <th scope="col">#</th>
	                <th scope="col">Username</th>
                  <th></th>
	              </tr>
	            </thead>
	            <tbody>
	              {% for user in users %}
	                <tr>
	                  <td>{{ user.id }}</td>
	                  <td>{{ user.username }}</td>
	                  <td>
                      <a class="btn btn-light" href="{% url 'user' user.id %}">View user</a>
                    </td>
	                </tr>
	              {% endfor %}
	            </tbody>
	          </table>
	        </div>
        {% endif %}
      </div>
    </div>
  </section>




{% endblock %}