<p>
  The library user
  <strong style="color: #4a60cf;">{{ data.username }}</strong>
  has registered an interest in the book <a href="{{ data.bookUrl }}" target="_blank" rel="noopener noreferrer" style="text-decoration: underline;">{{ data.book }}</a>
  on {{ data.date }}.
</p>

<p>After checking the book's availability, you can respond to {{ data.username }} by replying directly to this message.</p>

<p>
  <small>
    (Alternatively, send an email to
    <a href="mailto:{{ data.email }}" style="text-decoration: underline;">{{ data.email }}</a>)
  </small>
</p>

<p>
  <small><a href="https://www.barhamlibrary.xyz" style="color: #606a9f;">www.barhamlibrary.xyz</a></small>
</p>
