{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}Barham Community Library</title>

    {% block meta %}{% endblock %}

    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{% static 'img/favicon.svg' %}" />
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}" />
    <link rel="manifest" href="{% static 'img/site.webmanifest' %}" />
    <link rel="preload"
      href="{% static 'fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2' %}"
      as="font"
      type="font/woff2"
      crossorigin>
    <link rel="preload"
      href="{% static 'fonts/0QIvMX1D_JOuMwr7I_FMl_E.woff2' %}"
      as="font"
      type="font/woff2"
      crossorigin>

    {% block extra_css %}{% endblock %}

    <script src="{% static 'js/app.js' %}" defer></script>
    {% block extra_js %}{% endblock %}
  </head>
  <body>
    <div id="app">
      <a class="visually-hidden skip" href="#main">
        Skip to main content
      </a>
      {% include 'partials/header.html' %}
      <main id="main">
        {% block content %}{% endblock %}
      </main>
      {% include 'partials/footer.html' %}
    </div>
  </body>
</html>