{% load static %}

<header id="header" class="topnav">
  <h2 class="visually-hidden">Header</h2>

  <div class="wrapper topnav__wrapper">
    <a href="/" class="topnav__homelink"><img src="{% static 'img/logo.svg' %}" alt="Barham homepage" class="topnav__logo" width="40" height="40" /></a>

    <nav>
      <span id="nav-label" hidden>Navigation</span>
      <span id="close-label" hidden>Close Navigation</span>

      <div class="topnav__overlay"></div>

      <button id="btnOpen" class="topnav__open-btn tap-target" aria-labelledby="nav-label" aria-expanded="false"><img src="{% static 'img/icons/hamburger.svg' %}" alt="" width="30" height="23" class="topnav__open-icon" /></button>

      <div class="topnav__menu" id="menuTopNav" aria-labelledby="nav-label">
        <button id="btnClose" class="topnav__close-btn tap-target" aria-labelledby="close-label"><img src="{% static 'img/icons/close-button.svg' %}" alt="" width="25" height="26" class="topnav__open-icon" /></button>

        <ul class="topnav__links">
          <li class="topnav__item">
            <a href="/" class="topnav__link">Home</a>
          </li>
          <li class="topnav__item">
            <a href="{% url 'explore_books' %}" class="topnav__link">Explore</a>
          </li>
          <li class="topnav__item">
            <a href="{% url 'collections' %}" class="topnav__link">Collections</a>
          </li>
          <li class="topnav__item">
            <a href="{% url 'about' %}" class="topnav__link">About</a>
          </li>
          <li class="topnav__item">
            <a href="{% url 'contact' %}" class="topnav__link">Contact</a>
          </li>
          <li class="topnav__item">
            <a href="{% if user.is_authenticated %}
                {% url 'account_home' %}
              {% else %}
                {% url 'login' %}
              {% endif %}"
              class="topnav__link topnav__account-link">
              <span class="topnav__account-text">
                {% if user.is_authenticated %}
                  Account
                {% else %}
                  Login
                {% endif %}
              </span>
              <div class="topnav__account-icon-wrapper">
                <span class="visually-hidden">
                  {% if user.is_authenticated %}
                    Account
                  {% else %}
                    Login
                  {% endif %}
                </span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="account-icon">
                  <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </svg>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
