{% load static %}

<header id="header" class="topnav">
  <h2 class="visually-hidden">Header</h2>

  <div class="wrapper topnav__wrapper">
    <a href="/" class="topnav__homelink"><img src="{% static 'img/branding/logo-barham-books-compact.svg' %}" alt="Barham homepage" class="topnav__logo" height="40" width="53" /></a>

    <nav class="topnav__nav">
      <button id="navOpenBtn" class="topnav__open-btn tap-target" aria-expanded="false">
        <span class="visually-hidden">Open navigation</span>
        {% comment %} <img src="{% static 'img/icons/hamburger.svg' %}" alt="" width="30" height="23" class="topnav__open-icon" aria-hidden="true" /> {% endcomment %}
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu topnav__open-icon" aria-hidden="true">
          <line x1="3" y1="12" x2="21" y2="12"></line>
          <line x1="3" y1="6" x2="21" y2="6"></line>
          <line x1="3" y1="18" x2="21" y2="18"></line>
        </svg>
      </button>

      <ul class="topnav__desktop-nav-list">
        <li class="topnav__desktop-nav-item">
          <a href="{% url 'collections' %}" class="topnav__desktop-nav-link {% if 'books/collections/' in request.path %}active{% endif %}">Collections</a>
        </li>
        <li class="topnav__desktop-nav-item">
          <a href="{% url 'featured_books' %}" class="topnav__desktop-nav-link {% if 'books/featured/' in request.path %}active{% endif %}">Featured</a>
        </li>
        <li class="topnav__desktop-nav-item">
          <a href="{% url 'recently_added' %}" class="topnav__desktop-nav-link {% if 'books/recently-added/' in request.path %}active{% endif %}">New</a>
        </li>
        <li class="topnav__desktop-nav-item">
          <a href="{% url 'books_a_z' %}" class="topnav__desktop-nav-link {% if 'books/a-z/' in request.path %}active{% endif %}">A—Z</a>
        </li>
      </ul>
    </nav>

    <div class="topnav__actions">
      <div class="topnav__search">
        <button id="searchOpenBtn" class="topnav__search-btn" aria-expanded="false">
          <span class="visually-hidden">Open search</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search topnav__search-icon" aria-hidden="true">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
          </svg>
        </button>
      </div>

      <a href="{% if user.is_authenticated %}
          {% url 'account_home' %}
        {% else %}
          {% url 'login' %}
        {% endif %}"
        class="topnav__link topnav__account-link">
        <div class="topnav__account-icon-wrapper">
          <span class="visually-hidden">
            {% if user.is_authenticated %}
              Account
            {% else %}
              Login
            {% endif %}
          </span>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="topnav__account-icon" aria-hidden="true">
            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </svg>
        </div>
      </a>
    </div>
  </div>
</header>
