{% comment %} <nav class="pagination">
  {% if books.has_previous %}
    <a href="?sort={{ sort }}&page={{ books.previous_page_number }}">Previous</a>
  {% else %}
    <span aria-hidden="true"></span>
  {% endif %}

  <span>Page {{ books.number }} of {{ books.paginator.num_pages }}</span>

  {% if books.has_next %}
    <a href="?sort={{ sort }}&page={{ books.next_page_number }}">Next</a>
  {% else %}
    <span aria-hidden="true"></span>
  {% endif %}
</nav> {% endcomment %}

{% if books.paginator.num_pages > 1 %}
  <nav class="pagination" aria-label="Pagination">
    {% if books.has_previous %}
      <a class="pagination__control previous" href="?{{ base_querystring }}{% if base_querystring %}&{% endif %}page={{ books.previous_page_number }}">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left">
          <polyline points="15 18 9 12 15 6"></polyline>
        </svg>
        <span class="pagination__control-text">Previous</span>
      </a>
    {% else %}
      <span class="pagination__control previous pagination__control--disabled">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left">
          <polyline points="15 18 9 12 15 6"></polyline>
        </svg>
        <span class="pagination__control-text">Previous</span>
      </span>
    {% endif %}

    <ul class="pagination__pages">
      {% for num in books.paginator.page_range %}
        {% if num == 1 or num == books.paginator.num_pages or num >= books.number|add:-1 and num <= books.number|add:1 %}
          {% if num == books.number %}
            <li>
              <span class="pagination__page pagination__page--current">{{ num }}</span>
            </li>
          {% else %}
            <li>
              <a class="pagination__page" href="?{{ base_querystring }}{% if base_querystring %}&{% endif %}page={{ num }}">
                {{ num }}
              </a>
            </li>
          {% endif %}
        {% elif num == books.number|add:-2 or num == books.number|add:2 %}
          <li>
            <span class="pagination__ellipsis">…</span>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

    {% if books.has_next %}
      <a class="pagination__control next" href="?{{ base_querystring }}{% if base_querystring %}&{% endif %}page={{ books.next_page_number }}">
        <span class="pagination__control-text">Next</span>
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
          <polyline points="9 18 15 12 9 6"></polyline>
        </svg>
      </a>
    {% else %}
      <span class="pagination__control next pagination__control--disabled">
        <span class="pagination__control-text">Next</span>
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
          <polyline points="9 18 15 12 9 6"></polyline>
        </svg>
      </span>
    {% endif %}
  </nav>
{% endif %}
